<div id="size-guide-content-default">
  <div class="modal-content content-col col-md-8 col-sm-10" data-content-width="col-md-8 col-sm-10 default-size-guide">
    <div class="row">
      <div class="col-md-12 col-sm-12 row-center">
        <h3>Size Chart</h3>
      </div>
    </div>
    <div class="row">
      <ul class="col-md-4 col-sm-4 size-list">
        <li class="heading">US</li>
        <li>US 0</li>
        <li>US 2</li>
        <li>US 4</li>
        <li>US 6</li>
        <li>US 8</li>
        <li>US 10</li>
        <li>US 12</li>
        <li>US 14</li>
        <li>US 16</li>
        <li>US 18</li>
        <li>US 20</li>
      </ul>

      <ul class="col-md-4 col-sm-4 size-list">
        <li class="heading">UK</li>
        <li>UK 4</li>
        <li>UK 6</li>
        <li>UK 8</li>
        <li>UK 10</li>
        <li>UK 12</li>
        <li>UK 14</li>
        <li>UK 16</li>
        <li>UK 18</li>
        <li>UK 20</li>
        <li>UK 22</li>
        <li>UK 24</li>
      </ul>

      <ul class="col-md-4 col-sm-4 size-list">
        <li class="heading">EU</li>
        <li>EU 32</li>
        <li>EU 34</li>
        <li>EU 36</li>
        <li>EU 38</li>
        <li>EU 40</li>
        <li>EU 42</li>
        <li>EU 44</li>
        <li>EU 46</li>
        <li>EU 48</li>
        <li>EU 50</li>
        <li>EU 52</li>
      </ul>
    </div>
  </div>
</div>