<svg width="208px" height="219px" viewBox="0 0 208 219" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Icon Empty Cart</title>
    <desc>Created with Sketch.</desc>
    <g id="cart-empty-design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.155366443">
        <g id="cart-empty-05-basket-copy" transform="translate(-1038.000000, -171.000000)">
            <g id="cart-empty-ddl">
                <g id="cart-empty-Group-3" transform="translate(1060.000000, 172.000000)">
                    <g id="cart-empty-Group-2">
                        <path d="M81,217.097931 C45.9,217.097931 22.5,192.742069 22.5,156.358621 L22.5,60.7393103 C22.5,24.3558621 45.9,0 81,0 C116.7,0 140.1,24.3558621 140.1,60.7393103 L140.1,156.358621 C140.1,192.742069 116.7,217.097931 81,217.097931 Z M81,180.714483 C91.2,180.714483 97.8,171.994483 97.8,158.764138 L97.8,58.3337931 C97.8,45.1034483 91.2,36.3834483 81,36.3834483 C71.4,36.3834483 64.8,45.1034483 64.8,58.3337931 L64.8,158.764138 C64.8,171.994483 71.4,180.714483 81,180.714483 Z" id="cart-empty-0" fill="currentColor" fill-rule="nonzero"></path>
                        <path d="M0,196.764738 L163.906061,21.0482759" id="cart-empty-Line" stroke="currentColor" stroke-width="30" stroke-linecap="square"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>