{% comment %} 
  Product
  - Title
  - Price
    - Percent off - sale
  - Description
{% endcomment %}

<h2 class="title">{{ product.title }}</h2>
            
<div class="price">
  <span id="ProductPrice">{{ product.price | money | remove: '.00' }}</span>
  {% if product.compare_at_price_max > product.price %}
      <span class="sale">-{{ product.compare_at_price_max | minus: product.price | times: 1000.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 10 | remove: '.0'}}%</span>
  {% endif %}
</div>

<div class="description">
  {{ product.description }}
</div>