<div id="SearchDrawer" class="search-bar drawer drawer--top critical-hidden bws-modal" role="dialog" aria-modal="true" aria-label="{{ 'general.search.placeholder' }}" data-predictive-search-drawer>
  {% comment %} <div class="row close-row search">
    <div class="col-12">
      
    </div>
  </div> {% endcomment %}
  <div class="row search-row center-align">
    <div class="search-bar__interior col-md-8 col-sm-10 col-xs-8">
      <div class="search-form__container" data-search-form-container>
        <form class="search-form search-bar__form" action="{{ routes.search_url }}" method="get" role="search">
          <div class="search-form__input-wrapper">
            <input
              type="text"
              name="q"
              placeholder="{{ 'Search' }}"
              role="combobox"
              aria-autocomplete="list"
              aria-owns="predictive-search-results"
              aria-expanded="false"
              aria-label="{{ '' }}"
              aria-haspopup="listbox"
              class="search-form__input search-bar__input"
              data-predictive-search-drawer-input
            />
            <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />
            <input type="hidden" name="type" value="product" />
            <div class="predictive-search-wrapper predictive-search-wrapper--drawer" data-predictive-search-mount="drawer"></div>
          </div>

          <button class="search-bar__submit search-form__submit"
            type="submit"
            data-search-form-submit>
            {% include 'icon-search-glass' %}
          </button>
        
        </form>
      </div>
    </div>
    <a class="js-close-search">
      {% include 'icon-close-large' %}
    </a>
  </div>
</div>