body {
  overflow-x: hidden;
}

header,
section {
  overflow-x: hidden;
  
  svg {
    width: 100%;
    height: auto;
  }
}

section.container .row {
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 0;
  margin-right: 0;
}

section.container {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}

section figure {
  position: relative;
  width: 100%;

  img {
    position: absolute;
    display: block;
    width: 100%;
  }
}

nav.breadcrumbs {
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 15px;
  font-family: $kr;
  color: $color-dark;
}

body.collection main {
  margin-top: 142px;
}

// .container-fluid,
.container,
#shopify-section-header {
  padding-left: 40px;
  padding-right: 40px;
}

// *************************
// Align
// *************************
.row-center {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
}

// *************************
// Lists
// *************************
.menu-plain {
  a {
    font-size: 0.875em;
    line-height: 1.5em;
    color: $color-dark;
    position: relative;

    &::before {
      background: $color-dark;
    }
  }
}

.menu-plain a,
.inline-single {
  @include transition(400ms all $cubic);

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    bottom: 0;
    transform-origin: left;
    height: 1px;

    @include transition(400ms all $cubic);
    @include transform(scaleX(0));
  }

  &:hover {
    &::before {
      @include transform(scaleX(1));
    }
  }
}

.inline-single {
  color: $color-dark;

  &::before {
    background: $color-dark;
  }
}

// *************************
// CTAs
// *************************
.cta {
  // padding-top: 120px;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  overflow: hidden;

  .subtitle {
    margin-bottom: 22px;
  }

  p {
    margin-top: 25px;

    &.large {
      margin-top: 2px;
    }
  }

  .button-wrapper {
    margin-top: 38px;
  }
}

.cta.shop {
  padding-top: 120px;

  figure {
    // padding-bottom: 101%;
    padding-bottom: 110.5%;
  }

  svg {
    position: absolute;
    opacity: 0.15;
    z-index: 0;
    top: 0;
    left: 15.3333%;
    max-width: 58.3333%;
    pointer-events: none;
  }
}

.cta.align-img-left .row {
  @include flex-direction(row-reverse);
  @include justify-content(flex-end);
}

.cta.align-img-left,
.cta.align-img-right {
  figure {
    padding-bottom: 98%;
  }
}

.cta.membership {
  margin-top: 60px;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  text-transform: uppercase;

  .row {
    padding: 195px 0;
    margin-left: 40px;
    margin-right: 40px;
    background: $color-dark;
    position: relative;
  }

  .background {
    opacity: 0.9;
  }

  .button-wrapper {
    margin-top: 44px;
  }

  .f-160 {
    line-height: 0.85em;
  }
}

@media screen and (max-width: 768px) {
  section.container .row {
    padding-left: 20px;
    padding-right: 20px;
  }

  .cta.membership {
    .f-160 {
      line-height: 1em;
    }

    .row {
      padding: 100px 0;
    }
  }

  .cta.shop {
    padding-top: 40px;

    figure {
      padding-bottom: 112%;
    }

    .row {
      @include flex-direction(column-reverse);
    }
  }

  .cta.membership {
    margin-top: 40px;

    .row {
      margin-left: 20px;
      margin-right: 20px;
    }

    .background {
      background-position: 100% 100%;
    }
  }

  .cta {
    padding-top: 40px;
    padding-bottom: 40px;

    .subtitle {
      margin-top: 0;
      margin-bottom: 10px;
    }

    p {
      margin-top: 10px;
    }

    .button-wrapper {
      margin-top: 20px;
    }

    .row {
      [class^=col-]:first-of-type {
        padding-top: 30px;
      }

      &.row-center {
        @include align-items(flex-start);
      }
    }
  }

  .cta.align-img-right .row,
  .cta.align-img-left .row {
    @include flex-direction(column-reverse);
  }
} // End 768 Max