@font-face {
  font-family: 'Klarheit Kurrent Regular';
  src: url('../assets/KlarheitKurrent-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Klarheit Kurrent Bold';
  src: url('../assets/KlarheitKurrent-Bold.woff') format('woff');
}

@font-face {
  font-family: 'GT-Super-Display-Regular';
  src: url('../assets/GT-Super-Display-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'GT-Super-Display-Light-Italic';
  src: url('../assets/GT-Super-Display-Light-Italic.ttf') format('truetype');
}

.text-light {
  color: $color-white;
}

.subtitle {
  font-size: 0.875em;
  line-height: 1.714em;
  text-transform: uppercase;
  font-family: $kr;
}

body {
  font-family: $kr;
  font-size: 16px;
  color: $color-dark;
}

p {
  line-height: 1.5em;
}

.large,
.price {
  font-size: 1.25em;
  line-height: 1.3em;
}

.small {
  font-size: 0.875em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $gtsr;
}


h1 {
  // font-size: 3.75em; // 60
  line-height: 1.15em;
}

h2 {
  // font-size: 3.125em; // 50
  line-height: 1.16em;
}

h3 {
  font-size: 2.5em; // 40
  line-height: 1.15em;
}

h4 {
  font-size: 2em; // 32
  line-height: 1.1875em;
}

h5 {
  font-size: 1.75em; // 28
  line-height: 1.214em;
}

h6 {
  font-size: 1.375em; // 22
  line-height: 1.2727em;
}

.f-160 {
  font-family: $gtsli;
  line-height: 1.156em;
}

.f-80 {
  line-height: 1.625em;
}

@media screen and (min-width: 1025px) {
  h1,
  .h1 {
    font-size: 4.17vw;
  }

  h2 {
    font-size: 3.48vw;
  }

  .f-160 {
    font-size: 11.12vw;
  }

  .f-80 {
    font-size: 5.6vw;
  }
} // End 1025 Min

@media screen and (max-width: 1024px) and (min-width: 769px) {
  h1,
  .h1 {
    font-size: 3.9vw;
  }

  h2 {
    font-size: 3.2vw;
  }

  .f-160 {
    font-size: 11vw;
  }

  .f-80 {
    font-size: 5.2vw;
  }
} // End 1024 Max and 769 Min

@media screen and (max-width: 768px) {
  
} // End 768 Max

@media screen and (max-width: 768px) and (min-width: 577px) {
  h1,
  .h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 2em;
  }

  .f-160 {
    font-size: 100px;
  }

  .f-80 {
    font-size: 50px;
  }
} // End 768 Max and 577 Min


@media screen and (max-width: 576px) {
  h1,
  .h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  .f-160 {
    font-size: 60px;
  }

  .f-80 {
    font-size: 30px;
  }
} // End 576 Max