
{%- if section.settings.announcement_bar_toggle == true and section.settings.announcement_bar_message_one != blank -%}

  <div class="announcement-bar">
    {% comment %} <a href="#" class="close-announcement-bar">
      <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.57907 9.14465L13.5757 15.1413L14.9899 13.7271L8.99329 7.73044L14.9901 1.73367L13.5758 0.319458L7.57907 6.31622L1.58218 0.319336L0.167969 1.73355L6.16486 7.73044L0.168111 13.7272L1.58232 15.1414L7.57907 9.14465Z" fill="#333333"></path>
      </svg>
    </a> {% endcomment %}
    <div class="row">
      <!-- <div class="col-md-5 offset-md-2"> -->
      <div class="col-md-7 offset-md-2">
        <p class="message">{{- section.settings.announcement_bar_message_one -}}</p>
      </div>
      <!-- <div class="col-md-5"> -->
      <div class="col-md-3">
        <p class="shipping-message hide-message" data-free-shipping="{{ section.settings.free_shipping_amount }}"><i></i> Spend $<span class="remaining-price">150</span> <span class="dark">more to get </span> free shipping</p>
      </div>
    </div>
  </div>

{%- endif -%}

{% schema %}
  {
    "name": "Announcement Bar",
    "settings": [
      {
        "type": "checkbox",
        "id": "announcement_bar_toggle",
        "label": "Announcement Bar Toggle",
        "default": false
      },
	  {
        "type": "textarea",
        "id": "announcement_bar_message_one",
        "label": "Announcement Bar Message",
        "placeholder": "Text"
    }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
