<section class="bws-modal" id="general-modal">
  <div class="row content-row">

    
    <div class="content-col-wrapper">
    
      <div class="row close-row">
        <div class="col-12">
          <a class="js-close-modal close-modal">
            {% include 'icon-close-large' %}
            
          </a>
        </div>
      </div>

      <div class="content-col">

        <div class="row content" id="modal-content-space">
        
        </div>
      </div>
    </div>
  </div>
</section>