<div class="container-fluid main-header">
  
  <div class="row"> 
    <div class="col-lg-3 col-md-3 col-sm-5 logo-w">
      <a href="{{ routes.root_url }}" class="logo-main">
        {% include 'kinrgy-shop-logo' %}
      </a>
    </div>

    <div class="col-lg-9 d-none d-lg-flex align-items-center justify-content-end">
      {% include 'site-nav' %}
      <ul class="extra-menu">
        <li><a class="js_search" data-modal-id="SearchDrawer" href="#">{% include 'icon-search' %}</a></li>
        <li><a class="extra-menu__cart js_cart" href="#"><div id="cartCount">{{ cart.item_count }}</div>{% include 'icon-cart' %}</a></li>
      </ul>
    </div>

    <div class="col-md-9 d-lg-none mobile-nav-buttons">
      <ul class="extra-menu mobile">
        <li><a class="hamburger js-menu" href="#">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span></a></li>
        <li><a class="extra-menu__cart js_cart" href="#"><div id="cartCount">{{ cart.item_count }}</div>{% include 'icon-cart' %}</a></li>
      </ul>
    </div>

  </div>
  

  <div class="row">
    <div class="col-md-12">
      {% if template != 'cart' %}
        {% include 'cart_dropdown' %}
    {% endif %}
    </div>
  </div>

  <div class="row d-lg-none">
    <section class="mobile-menu">
      {% include 'site-nav' %}
    </section>
  </div>
</div>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "header",
      "content": "Announcement bar"
    }
  ]
}
{% endschema %} 
