<section class="container material-and-care" id="product-material-and-care">
  <div class="row">
    <div class="col-md-4 offset-md-1 col-sm-8">
      <h3>Material &amp; care Default</h3>
      <p>Morbi molestie velit quis dui iaculis molestie. Integer eleifend pharetra condimentum. Nunc egestas ante ac sagittis gravida. Suspendisse a justo nisi</p>
    </div>
    
    <div class="col-md-4 offset-md-2 col-sm-8">
      <ul class="care-icons js-tooltips">

        <li>
          <div class="tooltip-icon">
            {% include 'icon-warm-wash' %}
          </div>
          <p class="tooltip-text">Machine wash warm, inside out, with like colors</p>
        </li>  

        <li>
          <div class="tooltip-icon">
            {% include 'icon-non-chlorine-bleach' %}
          </div>
          <p class="tooltip-text">Only non-chlorine bleach</p>
        </li>  

        <li>
          <div class="tooltip-icon">
            {% include 'icon-dry-low' %}
          </div>
          <p class="tooltip-text">Tumble dry low</p>
        </li>  
        
        <li>
          <div class="tooltip-icon">
            {% include 'icon-warm-iron' %}
          </div>
          <p class="tooltip-text">Medium iron</p>
        </li>  
                  
        <li>
          <div class="tooltip-icon">
            {% include 'icon-do-not-iron' %}
          </div>
          <p class="tooltip-text">Do not iron decoration</p>
        </li>   

        <li>
          <div class="tooltip-icon">
            {% include 'icon-do-not-dry-clean' %}
          </div>
          <p class="tooltip-text">Do not dry clean</p>
        </li>  

      </ul>
    </div>
  </div>
</section>