#preview-bar-iframe {
  display: none !important;
  visibility: hidden;
}


body {

  .product-list .title {
    color: #1c1e20;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
  }

  .collection-list {
    padding: 70px 0 0;
    width: 100%;
  }

  section > .row-wrapper {
    padding: 0 40px;
  }

  .price-color-wrap {
    @include flexbox();

    // margin-bottom: 11px;
    margin-bottom: 5px;
  }

  .price-color-wrap .swatch-color {
    @include flexbox();
    @include flex-wrap(wrap);

    width: 80%;
    margin: 0px;    
  }

  .price-color-wrap .swatch-color .swatch-element {
    width: 20px;
    height: 20px;
    margin: 2px 7px 0 0px;
    border: 1px solid white;
  }

  .price-color-wrap .swatch-color input:checked + label {
    box-shadow: none;
  }

  .swatch-size {
    // margin: 0px 0px 20px;
    margin: 0px 0px 10px;
  }

  // .swatch {
  //   min-height: 30px;
  // }

  .swatch-size .header {
    color: #1c1e20;
    font-size: 14px;
    // line-height: 25px;
    line-height: 40px;
    min-height: 40px;
    margin: 0 10px 0 0;
  }

  .swatch-size .swatch-element {
    margin: 0 4px 0 0;
  }

  .swatch-size input:checked + label {
    box-shadow: none;
  }

  .swatch-size .soldout {
    pointer-events: none;

    label {
      position: relative;
      color: $color-gray;
    }
  }

  .collection-list .swatch-size .soldout label::before {
    top: -3px;
  }

  .swatch-size .soldout label::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 0;
    top: -7px;
    bottom: 0;
    right: 0;
    margin: auto;
    background: $color-gray;
  }

  .swatch.swatch-color {
    margin-left: 24px;

    .header {
      display: none;
    }
  }


  form .btn {
    width: 100%;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    height: 48px;
    display: none;
    font-weight: 400;
  }

  .swatch-element {
    label {
      width: 20px;
      height: 20px;

      &::before {
        width: 12px;
        height: 12px;
      }

      &::after {
        width: 20px;
        height: 20px;
      }
    }
  }

  .swatch-size {

    label {
      width: 28px;
      height: 28px;

      &::after {
        width: 28px;
        height: 28px;
      }
    }
  }

  [class*=col-] {
    padding-left: 0;
    padding-right: 0;
  }

  .inner-item {
    position: relative;
  }

  .input-cart-wrapper {
    width: 100%;
  }

  .product-list li {
    z-index: 1;
    margin-bottom: 2.0625em;
    position: relative;
  }

  .title,
  .price-color-wrap {
    z-index: 1;
    position: relative;
  }

  form .btn {
    display: block;
  }
}

body.product {
  section .swatch.swatch-color .header {
    @include inline-flex();

    label {
      box-shadow: none;
      margin-right: 0;
    }
  }

  .swatch input:checked + label {
    box-shadow: none;
  }

  section .swatch.swatch-color {
    margin-left: 0;
  }

  .product-form .swatch .swatch-element.color label {
    margin-right: 0;

    i {
      margin-left: 3px;
    }
  }
}

.product-list .swatch .header .current-color {
  display: none;
}

.color-list a[data-color=Black],
.color-list a[data-color=black],
.by-Color[data-tag="Color_black"] .color-icon,
.swatch-element.black label::before {
  background: $color-swatch-black; 
}

// White
.color-list a[data-color=White],
.color-list a[data-color=white],
.by-Color[data-tag="Color_white"] .color-icon,
.swatch-element.white label::before {
  background: $color-swatch-white; 
  border: 1px solid $color-dark;
}

.color-list a[data-color=White] {
  width: 15px;
  height: 15px;
  
  &::after {
    top: -7px;
    left: -7px;
  }
}

[data-value="Tye Light BlueDye"] label::before {
  background: #73afef;
}

// Blue
[data-value="Light Blue"] label::before,
[data-value="Tie Light BlueDye"] label::before,
.color-list a[data-color=Blue],
.color-list a[data-color=blue],
.by-Color[data-tag="Blue"] .color-icon,
.by-Color[data-tag="blue"] .color-icon,
.swatch-element.blue label::before {
  background: $color-swatch-blue; 
}

// Light blue
.color-list a[data-color="light blue"],
.color-list a[data-color="Light blue"],
.color-list a[data-color="Light Blue"],
.color-list a[data-color=Color_light_blue],
.by-Color[data-tag="Color_light_blue"] .color-icon,
.swatch-element.light-blue label::before {
  background: $color-swatch-light-blue; 
}

// Dark blue
.color-list a[data-color="dark blue"],
.color-list a[data-color="Dark blue"],
.color-list a[data-color="Dark Blue"],
.color-list a[data-color=Color_dark_blue],
.by-Color[data-tag="Color_dark_blue"] .color-icon,
.swatch-element.dark-blue label::before {
  background: $color-swatch-dark-blue; 
}

// Royal blue
.color-list a[data-color="Royal blue"],
.color-list a[data-color="royal blue"],
.color-list a[data-color="Royal Blue"],
.color-list a[data-color=Color_royal_blue],
.by-Color[data-tag="Color_royal_blue"] .color-icon,
.swatch-element.royal label::before {
  background: $color-swatch-royal-blue; 
}

// Navy
.color-list a[data-color=Navy],
.color-list a[data-color=navy],
.color-list a[data-color=Color_navy],
.by-Color[data-tag="Color_navy"] .color-icon, 
.swatch-element.navy label::before {
  background: $color-swatch-navy-blue; 
}

// Pink
.color-list a[data-color=Pink],
.color-list a[data-color=pink],
.color-list a[data-color=Color_pink],
.by-Color[data-tag="Color_pink"] .color-icon,
.swatch-element.pink label::before {
  background: $color-pink; 
}

// Green
.color-list a[data-color=Green],
.color-list a[data-color=green],
.color-list a[data-color=Color_green],
.by-Color[data-tag="Color_green"] .color-icon,
.swatch-element.green label::before {
  background: $color-swatch-green; 
}

// Kelly Green
.color-list a[data-color="kelly green"],
.color-list a[data-color="Kelly Green"],
.color-list a[data-color="kelly Green"],
.color-list a[data-color=Color_kelly-green],
.by-Color[data-tag="Color_kelly_green"] .color-icon,
.swatch-element.kelly-green label::before {
  background: $color-swatch-kelly-green; 
}

// Forest Green
.color-list a[data-color="Forest green"],
.color-list a[data-color="forest green"],
.color-list a[data-color="Forest Green"],
.color-list a[data-color=Color_forest-green],
.by-Color[data-tag="Color_forest_green"] .color-icon,
.swatch-element.forest-green label::before {
  background: $color-swatch-forest-green; 
}

// Charcoal
.color-list a[data-color="Charcoal"],
.color-list a[data-color="charcoal"],
.color-list a[data-color=Color_Charcoal],
.by-Color[data-tag="Color_charcoal"] .color-icon,
.swatch-element.charcoal label::before {
  background: $color-swatch-charcoal; 
}

// Brown
.color-list a[data-color="Brown"],
.color-list a[data-color="brown"],
.color-list a[data-color=Color_brown],
.by-Color[data-tag="Color_brown"] .color-icon,
.swatch-element.brown label::before {
  background: $color-swatch-brown; 
}

// Gray / Grey
.color-list a[data-color=Grey],
.color-list a[data-color=Gray],
.color-list a[data-color=grey],
.color-list a[data-color=gray],
.color-list a[data-color=Color_grey],
.color-list a[data-color=Color_gray],
.by-Color[data-tag="Color_grey"] .color-icon,
.by-Color[data-tag="Color_gray"] .color-icon,
.swatch-element.grey label::before,
.swatch-element.gray label::before {
  background: $color-swatch-gray;
}

// Red
.color-list a[data-color=Red],
.color-list a[data-color=red],
.color-list a[data-color=Color_red],
.by-Color[data-tag="Color_red"] .color-icon,
.swatch-element.red label::before {
  background: $color-swatch-red; 
}

// Tan
.color-list a[data-color=Tan],
.color-list a[data-color=tan],
.color-list a[data-color=Color_tan],
.by-Color[data-tag="Color_tan"] .color-icon,
.swatch-element.tan label::before {
  background: $color-swatch-tan; 
}

// Gold
.color-list a[data-color=Gold],
.color-list a[data-color=gold],
.color-list a[data-color=Color_gold],
.by-Color[data-tag="Color_gold"] .color-icon,
.swatch-element.gold label::before {
  background: $color-swatch-gold; 
}

// Khaki
.color-list a[data-color=Khaki],
.color-list a[data-color=khaki],
.color-list a[data-color=Color_khaki],
.by-Color[data-tag="Color_khaki"] .color-icon,
.swatch-element.khaki label::before {
  background: $color-swatch-khaki; 
}

// Natural
.color-list a[data-color=Natural],
.color-list a[data-color=natural],
.color-list a[data-color=Color_natural],
.by-Color[data-tag="Color_natural"] .color-icon,
.swatch-element.natural label::before {
  background: $color-swatch-natural; 
  border: 1px solid $color-dark;
}

// Olive
.color-list a[data-color=Olive],
.color-list a[data-color=Ollive],
.color-list a[data-color=olive],
.color-list a[data-color=ollive],
.color-list a[data-color=Color_olive],
.color-list a[data-color=Color_ollive],
.by-Color[data-tag="Color_olive"] .color-icon,
.by-Color[data-tag="Color_ollive"] .color-icon,
.swatch-element.olive label::before {
  background: $color-swatch-olive; 
}

// Yellow
.color-list a[data-color=Yellow],
.color-list a[data-color=yellow],
.color-list a[data-color=Color_yellow],
.by-Color[data-tag="Color_yellow"] .color-icon,
.swatch-element.yellow label::before {
  background: $color-swatch-yellow; 
}

// Dark Gray/Grey
.color-list a[data-color="dark grey"],
.color-list a[data-color="dark gray"],
.color-list a[data-color="Dark Grey"],
.color-list a[data-color="Dark Gray"],
.color-list a[data-color="Dark grey"],
.color-list a[data-color="Dark gray"],
.color-list a[data-color=Color_dark_grey],
.color-list a[data-color=Color_dark_gray],
.by-Color[data-tag="Color_dark-grey"] .color-icon,
.by-Color[data-tag="Color_dark-gray"] .color-icon,
.swatch-element.dark-gray label::before,
.swatch-element.dark-grey label::before {
  background: $color-light-gray;
}

.color-list a[data-color=Purple],
.color-list a[data-color=purple],
.color-list a[data-color=Color_purple],
.by-Color[data-tag="Color_purple"] .color-icon,
.swatch-element.purple label::before {
  background: $color-swatch-purple;
}

.color-list a[data-color="Cloud Burst"],
.color-list a[data-color="cloud burst"],
.color-list a[data-color="Cloud burst"],
.color-list a[data-color=Color_cloud-burst],
.by-Color[data-tag="Color_cloud-burst"] .color-icon,
.swatch-element.cloud-burst label::before {
  background: $color-cloud-burst;
}

.color-list a[data-color=Orange],
.color-list a[data-color=orange],
.color-list a[data-color=Color_orange],
.by-Color[data-tag="Color_orange"] .color-icon,
.swatch-element.orange label::before {
  background: $color-swatch-orange;
}

.color-list a[data-color=Marron],
.color-list a[data-color=marron],
.color-list a[data-color=Color_marron],
.by-Color[data-tag="Color_maroon"] .color-icon,
.swatch-element.maroon label::before {
  background: $color-swatch-maroon;
}

.color-list a[data-color=Teal],
.color-list a[data-color=teal],
.color-list a[data-color=Color_teal],
.by-Color[data-tag="Color_teal"] .color-icon,
.swatch-element.teal label::before {
  background: $color-swatch-teal;
}

.color-list a[data-color=Turquoise],
.color-list a[data-color=turquoise],
.color-list a[data-color=Color_turquoise],
.swatch-element.turquoise label::before,
.by-Color[data-tag="Color_turquoise"] .color-icon {
  background: $color-swatch-turquoise;
}

.swatch-element {
  label {
    // width: 20px;
    // height: 20px;
    position: relative;
    border-radius: 50%;
    margin-right: 3px;
    background: transparent;

    @include transition(all 400ms $cubic);

    &::before {
      position: absolute;
      content: "";
      // width: 12px;
      // height: 12px;
      border-radius: 50%;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      transform-origin: center;
    }

    &::after {
      position: absolute;
      content: "";
      // width: 20px;
      // height: 20px;
      border-radius: 50%;
      transform-origin: center;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      border: 1px solid $color-dark;

      @include transition(all 400ms $cubic);
      @include transform(scale(0));
    }
  }

  &.active label::after {
    @include transform(scale(1));
  }
}

.swatch-size {
  @include flexbox();
  @include justify-content(flex-start);
  @include align-items(center);

  label {
    line-height: 28px;
    padding: 0;
    font-size: 1em;
    color: $color-dark;

  }
}

section.quick-view,
section .product-list .swatch-size .swatch-element,
.swatch-size .swatch-element {
  &.xs-s label,
  &.x-s label,
  &.s-m label,
  // label[for$=xl],
  &.m-l label {
    // margin-right: 12px;
    // width: 100%;
    width: 45px;
    // height: 26px;
    height: 100%;

    &::before,
    &::after {
      width: 100%;
      height: 100%;        
    }

    &::before {
      top: -1px;
      border-radius: 0;
      left: -4px;
    }
  }


  label[for=swatch-0-8-9],
  label[for=swatch-0-9-10],
  label[for=swatch-0-10-11],
  label[for=swatch-0-11-12],
  label[for=swatch-0-12-13],
  label[for=swatch-0-13-14] {
    width: 47px;
    left: -4px;

    &::before,
    &::after {
      width: 47px;
    }
  }

  label[for$=xl]  {
    width: 40px;
    left: -4px;

    &::before,
    &::after {
      width: 40px;
    }
  }

  // Posters
  label[for$="27x39"] {
    width: 70px;

    &::before,
    &::after {
      width: 100%;
    }
  }

  &.xs-s.soldout label,
  &.x-s.soldout label,
  &.s-m.soldout label,
  &.soldout label[for$=xl],
  &.m-l.soldout label {
    &::before {
      width: 100%;
      height: 2px;
    }
  }

  &.xl label {
    width: 28px;
    height: 28px;

    &::before {
      width: 12px;
      height: 12px;
    }

    &::after {
      width: 28px;
      height: 28px;
    }
  }
}

// section.quick-view .size-list {
//   a[data-size="9/10"],
//   a[data-size="10/11"],
//   a[data-size="11/12"],
//   a[data-size="13/14"],
//   a[data-size="14/15"] {
//     width: 47px;
//     left: -4px;

//     &::before,
//     &::after {
//       width: 47px;
//     }
//   }
// }

section.quick-view .swatch-element.one-size label,
.swatch-element.one-size label {
  width: 80px;
  height: 28px;

  &::after {
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    left: -5px;
  }
}

@media (max-width: 1200px) {
  #collections-section-two {
    .col-lg-4:last-child,
    .col-md-4:last-child,
    .col-sm-6:last-child,
    .col-xs-6:last-child {
      // min-height: 57vw;
    }
  }

  #home-section-two {
    .bottom-lg-spacing {
      padding-bottom: 40px;
    }
  }

  #home-section-two, 
  #home-section-three, 
  #home-section-four, 
  #home-section-five, 
  #collections-section-two {
    .price-color-wrap .large {
      width: auto;
      // width: 25%;
      @include inline-flex();
    }

    .price-color-wrap .swatch-color {
      // width: 75%;
      width: auto;
    }
  }
}

@media all and (min-width: 1025px) {
  .product-list {
    .item-background {
      background: white;
      position: absolute;
      content: "";
      top: -30px;
      // top: 0;
      left: -30px;
      // left: 0;
      bottom: 0;
      width: calc(100% + 60px);
      // width: 100%;
      height: calc(100% + 158px);
      // height: 100%;
      opacity: 0;
      z-index: 0;
      transition: none;
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    }

    .hover-variants {
      @include flexbox;
      @include flex-direction(column);
      @include justify-content(flex-end);
      
      background: white;
      opacity: 0;
      bottom: 0;
      position: absolute;
      width: 100%;
      top: 100%;
      z-index: 5;
      transition: 200ms all linear, 0ms;
      overflow: hidden;
      height: 128px;
      padding-bottom: 30px;
    }

    li {
      overflow: hidden;
    }

    li:hover {
      overflow: visible;
      z-index: 4;
    }

    li .inner-item:hover {
      .item-background {
        opacity: 1;
      }

      .hover-variants {
        pointer-events: all;
        opacity: 1;
        transition: 200ms all linear, 200ms;
      }
    }
  }
} // End 1024 Min

@media all and (max-width: 1024px) {
  .hover-variants {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 991px) {
  #home-section-two, 
  #home-section-three, 
  #home-section-four, 
  #home-section-five {
    .row-wrapper {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  #collections-section-two {
    // .hover-expanded {
    //   position: static;
    //   padding: 0 10px;
    //   width: 100%;
    //   background: transparent;
    //   box-shadow: none;
    //   // form,
    //   // .swatch-size {
    //   //   display: none;
    //   // }
    // }

    .product-list .title {
      margin-bottom: 6px;
    }

    .collection-list {
      padding: 40px 15px 0;
    }

    .row-wrapper {
      padding: 0;
    }

    // .col-lg-4,
    // .col-md-4,
    // .col-sm-6,
    // .col-xs-6 {
    //   min-height: 0;
    // }

    // .swatch {
    //   margin-top: 6px;
    // }
  }
}

@media (max-width: 767px) {
  #collections-section-one {
    .heading-140 {
      font-size: 60px;
    }

    .filter-button-row .filter {
      border-radius: 22px;
      font-size: 16px;
      padding: 6px 25px;
    }
  }

  #collections-section-two {
    form .btn {
      font-size: 12px;
    }

    .inner-item {
      margin: 0;
      padding: 0 10px;
    }

    .product-modal-link {
      width: 48px;
      height: 40px;

      svg {
        width: 28px;
        height: 28px;
      }
    }

    .collection-list {
      padding: 40px 10px 0;
    }

    .product-list .title {
      text-align: center;
      font-size: 16px;
    }

    // .price-color-wrap .swatch .white {
    //   label {
    //     // border: solid 1px;
    //   }
    // }

    .price-color-wrap {
      display: block;

      .large {
        width: 100%;
        text-align: center;
        font-size: 16px;
      }

      .swatch {
        width: 100%;
        justify-content: center;
        margin-top: 6px;
      }
    }
  }
}

// *********************
// Full Width Slider
.full-width-slider {
  min-height: 100vh;

  .slider-one-wrap {
    // padding-bottom: 69.5%;
    padding-bottom: 100vh;
  }

  .row {
    min-height: 100vh;
  }

  .slider-one-content {
    // min-height: calc(100vh - 120px);
    min-height: 100vh;
  }

  .slider-one {
    min-height: 100vh;
  }

  .slide {
    background: $color-dark;
  }
}

.collection-slider,
.full-width-slider {
  // min-height: 100vh;
  position: relative;

  .slider-one-content {
    position: absolute;
  }

  // .slider-one-wrap {
    // padding-bottom: 69.5%;
    // padding-bottom: 100vh;
  // }

  .slider-one-wrap {
    width: 100%;
    position: relative;

    @include flexbox();
  }

  // .slider-one {
  //   min-height: 100vh;
  // }

  .slider-count {
    @include flexbox();
    @include align-items(flex-end);
  }

  .slide .row {
    padding-bottom: 120px;
  }

  &.container-fluid .row {
    padding-left: 0;
    padding-right: 0;
  }

  .row {
    position: relative;
    z-index: 2;
    // min-height: 100vh;
    // min-height: calc(100vh - 120px);
    // padding-bottom: 50px;

    @include flexbox();
    @include justify-content(flex-end);
    @include align-items(center);
    @include flex-direction(column);
  }

  .subtitle {
    margin-bottom: 14px;
  }

  .button-wrapper {
    margin-top: 24px;
  }

  .slide {
    position: relative;
    width: 100vw;
    // background: $color-dark;
  }

  .slider-one .slider-one-content {
    cursor: pointer;
    overflow: hidden;

    @include flex-wrap(nowrap);
    @include flexbox();
  }

  // .slider-one-content {
  //   // min-height: calc(100vh - 120px);
  //   min-height: 100vh;
  // }
}

.collection-slider .dots,
.full-width-slider .dots {
  padding: 50px 0;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;

  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  // @include flex-direction(column);

  li,
  a {
    width: 20px;
    height: 4px;

    @include inline-flexbox();
  }

  li {
    margin: 0 9.5px;
  }

  a {
    background: $color-white;
    opacity: 0.3;

    @include transition(400ms all $cubic);

    &.active {
      opacity: 1;
    }
  }
}

.cta.membership,
.full-width-slider {
  .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    pointer-events: none;
  }
}

.full-width-slider .background {
  opacity: 0.85;
}

// *********************
// Collection Slider
// *********************
body.product .collection-slider,
.collection-slider {
  padding-top: 144px;
  // padding-bottom: 121px;
  padding-bottom: 24px;
  overflow: visible;

  .slider-one-wrap {
    // padding-bottom: 48%;
    padding-bottom: 0;
  }

  .slider-count {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .slider-one-content {
    position: relative;
    overflow: visible;
  }

  .row {
    padding-bottom: 0;

    @include flexbox();
    @include align-items(flex-start);
    @include justify-content(flex-start);
  }

  .slide,
  .slide .row {
    width: 32vw;
    padding-bottom: 0;
  }

  .copy,
  .slide img {
    width: calc(100% - 20px);
  }

  .slider-one {
    overflow: hidden;
  }

  figure {
    margin-bottom: 12px;
    padding-bottom: 127%;
    width: 100%;
  }

  .row-center h2 {
    margin-bottom: 31px;
  }
}

.collection-slider .dots {
  position: relative;
  padding-top: 43px;
  padding-bottom: 43px;

  a {
    opacity: 1;
    // background: $color-green;
    background: $color-gray;

    &.active {
      background: $color-green;
      opacity: 1;
    }
  }
}

.collection-slider {
  position: relative;

  svg.related-lines-01 {
    top: 0;
    left: 0;
    display: block;
    margin: auto;
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.15;
  }

  .arrows {
    position: absolute;
    width: 100%;
    z-index: 3;
    height: 80%;
    pointer-events: none;

    @include flexbox();
    @include justify-content(center);
    @include align-items(center);

    li {
      pointer-events: none;
    }

    a {
      width: 95px;
      height: 95px;
      background: $color-white;
      border-radius: 50%;
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
      position: absolute;
      top: 0;
      bottom: 0;
      display: block;
      margin: auto;
      pointer-events: all;

      &:hover {
        svg {
          @include transform(scale(1.1));
        }
      }

      &.disabled svg {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    svg {
      pointer-events: none;
      width: 23px;
      height: 16px;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: block;
      margin: auto;
      transform-origin: center;

      @include transition(400ms all $cubic);
    }

    .prev {
      left: -20px;
    }

    .next {
      right: 60px;
    }
  }
}

// *********************
// Soft App
// *********************
.row .boost-pfs-filter-default-toolbar {
  margin-bottom: 0;
  border: none;
}

.row .boost-pfs-filter-default-toolbar .boost-pfs-filter-toolbar-item {
  width: 100%;
  display: block;
}

.row .boost-pfs-filter-default-toolbar .boost-pfs-filter-top-sorting button,
.row .boost-pfs-filter-default-toolbar .boost-pfs-filter-top-sorting button span {
  font-family: $kb;
  color: $color-dark;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.container .row .boost-pfs-filter-custom-sorting.boost-pfs-filter-sort-active button>span:after {
  margin-top: 0;

  @include transform(rotate(180deg));
}
.boost-pfs-filter-top-sorting-mobile .boost-pfs-filter-top-sorting-wrapper,
.row .boost-pfs-filter-default-toolbar .boost-pfs-filter-top-sorting button {
  display: block;
  text-align: left;
  padding-right: 0;
  width: 100%;
  border-bottom: 2px solid $color-dark;

  span {
    width: 100%;
    display: block;
    line-height: 55px;

    &::after {
      right: 3px;
      background: url('https://cdn.shopify.com/s/files/1/0522/1918/3297/files/icon-green-down-arrow.svg?v=1608240409') no-repeat center center;
      background-size: contain;
      width: 18px;
      height: 18px;
      border: 1px solid transparent;
      margin-left: 0;
      transform-origin: center;

      @include transform(rotate(0deg));
      @include transition(400ms all $cubic);
    }
  }
}

.row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list li .boost-pfs-check-box {
  width: 18px;
  height: 18px;
}

.row .boost-pfs-filter-custom-sorting .boost-pfs-filter-filter-dropdown {
  width: 100%;

  a {
    color: $color-dark;
    font-family: $kr;

    &.boost-pfs-filter-sort-item-active {
      border-color: $color-dark;
    }
  }
}

section .boost-pfs-container-default {
  max-width: 100%;
  padding: 0;
}

.collection-section {
  .boost-pfs-filter-left-col {
    width: inherit;
  }

  .boost-pfs-filter-left-col {
    // padding-right: 10px;
    padding-right: 0;
  }
  .boost-pfs-filter-right-col {
    // padding-left: 10px;
    padding-left: 0;
  }

  .row .boost-pfs-filter-option {
    background: $color-tan;
    padding: 9px 30px 18px;
    margin-bottom: 20px;
  }

  .row .boost-pfs-filter-tree-v .boost-pfs-filter-option:first-child {
    padding-top: 9px;
  }

  .row .boost-pfs-filter-tree-v .boost-pfs-filter-option .boost-pfs-filter-option-title .boost-pfs-filter-option-title-heading {
    font-size: 14px;
    line-height: 52px;
    font-family: $kb;
    width: 100%;
    padding-bottom: 0;
    
    .boost-pfs-filter-option-title button {
      padding-bottom: 0;
    }

    .boost-pfs-filter-option-title button,
    .boost-pfs-filter-option-title-heading,
    .boost-pfs-filter-option-title-text {
      width: 100%;
      display: block;
      padding-bottom: 0;
    }
  }
}


// .boost-pfs-filter-tree-mobile-style2.boost-pfs-filter-tree-v .boost-pfs-filter-option-title-heading[aria-expanded="true"],
.row .boost-pfs-filter-tree-v .boost-pfs-filter-button[aria-expanded="true"] .boost-pfs-filter-option-title-text {
  &::before {
    @include transform(rotate(270deg));
  }

  &::after {
    @include transform(rotate(270deg) scaleY(0));
  }
}

// .boost-pfs-filter-tree-mobile-style2.boost-pfs-filter-tree-v .boost-pfs-filter-option-title-heading[aria-expanded="false"],
.row .boost-pfs-filter-tree-v .boost-pfs-filter-button[aria-expanded="false"] .boost-pfs-filter-option-title-text {
  &::before {
    @include transform(rotate(0deg));
  }

  &::after {
    @include transform(rotate(0deg) scaleY(1));
  }
}

.row .boost-pfs-filter-tree-v .boost-pfs-filter-option {
  border: none;
}

// .boost-pfs-filter-tree-mobile-style2.boost-pfs-filter-tree-v .boost-pfs-filter-option-title-heading::before,
// .boost-pfs-filter-tree-mobile-style2.boost-pfs-filter-tree-v .boost-pfs-filter-option-title-heading::after,
.row .boost-pfs-filter-tree-v .boost-pfs-filter-option.boost-pfs-filter-option-collapsed .boost-pfs-filter-option-title-text:before,
.row .boost-pfs-filter-tree-v .boost-pfs-filter-option.boost-pfs-filter-option-collapsed .boost-pfs-filter-option-title-text:after {
  margin: auto;
}
// .boost-pfs-filter-tree-mobile-style2.boost-pfs-filter-tree-v .boost-pfs-filter-option-title-heading,
.row .boost-pfs-filter-tree-v .boost-pfs-filter-option-title-text {
  &::before,
  &::after {
    position: absolute;
    content: "";
    background: $color-green;
    border: none;
    right: 0;
    display: block;
    margin: auto;
    top: 0;
    bottom: 0;
    transform-origin: center;

    @include transition(400ms all $cubic);
  }

  &:after {
    width: 12px;
    height: 2px;
  }

  &::before {
    height: 12px;
    width: 2px;
    right: 5px;
  }
}

.row .boost-pfs-filter-option-content {
  padding-top: 0;
  
  button {
    font-size: 14px;
    line-height: 32px;
    color: $color-dark;
    font-family: $kr;
  }
}

.row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list li .boost-pfs-check-box {
  background: $color-white;
  border: 1px solid $color-dark;
}

.row .boost-pfs-filter-option.boost-pfs-filter-option-list + .boost-pfs-filter-option.boost-pfs-filter-option-swatch,
.row .boost-pfs-filter-option.boost-pfs-filter-option-list + .boost-pfs-filter-option.boost-pfs-filter-option-box {
  margin-top: 20px;
}

// .row .boost-pfs-filter-tree .boost-pfs-filter-options-wrapper .boost-pfs-filter-option-list:last-of-type {
//   padding-bottom: 30px;
// }
.row .boost-pfs-filter-tree .boost-pfs-filter-options-wrapper .boost-pfs-filter-option-list:first-of-type {
  padding-top: 10px;

  button {
    border-top :1px solid transparent;
    padding-bottom: 0;
  }
}

.row .boost-pfs-filter-option-list  {
  button {
    padding: 0;
    border-top: 1px solid rgba(40, 40, 41, 0.15);
  }
}

// .row .boost-pfs-filter-option.boost-pfs-filter-option-list.boost-pfs-filter-option-vendor {
//   padding-bottom: 20px;
// }

.row .boost-pfs-filter-option.boost-pfs-filter-option-list {
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  border: none;

  &:nth-of-type(3) {
    padding-bottom: 10px;
  }
}

.row .boost-pfs-filter-option.boost-pfs-filter-option-list ul.boost-pfs-filter-option-item,
.row .boost-pfs-filter-option.boost-pfs-filter-has-scrollbar .boost-pfs-filter-option-content .boost-pfs-filter-option-content-inner ul {
  padding-top: 5px;
  padding-bottom: 27px;
}

.row .boost-pfs-filter-option.boost-pfs-filter-option-list ul.boost-pfs-filter-option-item li,
.row .boost-pfs-filter-option.boost-pfs-filter-has-scrollbar .boost-pfs-filter-option-content .boost-pfs-filter-option-content-inner li,
.row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list li {
  line-height: 32px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: $kr;

  button,
  button span,
  a span,
  span,
  button .boost-pfs-filter-option-value {
    line-height: 32px;
    font-size: 14px;
    font-family: $kr;
  }
}

.row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list .boost-pfs-filter-option-item button, .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list .boost-pfs-filter-option-item a {
// .boost-pfs-filter-option-item a.boost-pfs-filter-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  span {
    line-height: 32px;
    font-size: 14px;
    font-family: $kr;
  }
}

.row .boost-pfs-filter-option.boost-pfs-filter-has-scrollbar .boost-pfs-filter-option-content .boost-pfs-filter-option-content-inner li button .boost-pfs-filter-option-value {
  display: inline-block;
}

.row .boost-pfs-filter-option.boost-pfs-filter-has-scrollbar .boost-pfs-filter-option-content .boost-pfs-filter-option-content-inner li button .boost-pfs-check-box,
.row .boost-pfs-filter-option.boost-pfs-filter-has-scrollbar .boost-pfs-filter-option-content .boost-pfs-filter-option-content-inner li a .boost-pfs-check-box {
  position: relative;
  // top: 3px;
  // display: inline-block;
}

.row .boost-pfs-filter-option.boost-pfs-filter-has-scrollbar .boost-pfs-filter-option-content .boost-pfs-filter-option-content-inner li button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.row .boost-pfs-filter-option.boost-pfs-filter-has-scrollbar .boost-pfs-filter-option-content .boost-pfs-filter-option-content-inner li button .boost-pfs-filter-option-value,
.row .boost-pfs-filter-option.boost-pfs-filter-has-scrollbar .boost-pfs-filter-option-content .boost-pfs-filter-option-content-inner li a .boost-pfs-filter-option-value {
  // margin-left: 6px;
}

.row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list li {
  padding-left: 0;

  button.boost-pfs-filter-button .boost-pfs-filter-option-value {
    margin-left: 12px;
    // margin-left: 0;
  }
}

// .row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list li .boost-pfs-check-box {
//   top: 9px;
// }

.row .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list {
  padding-top: 5px;
  padding-bottom: 27px;
}

button.boost-pfs-filter-clear {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 30px;
  border: none;

  @include transition(400ms all $cubic);
 }

 .row .boost-pfs-filter-tree-v .boost-pfs-filter-option:not(.boost-pfs-filter-option-collapsed) button.boost-pfs-filter-clear {
  opacity: 1;
  pointer-events: all;
 }

.row .boost-pfs-filter-option.boost-pfs-filter-has-scrollbar.boost-pfs-filter-option-size .boost-pfs-filter-option-content .boost-pfs-filter-option-content-inner li button .boost-pfs-filter-option-value {
  margin-left: 0;
  text-transform: uppercase;
}


// .collection-section {
//   padding-bottom: 70%;
//   position: relative;

//   .boost-pfs-container-default.boost-pfs-filter-wrapper-page {
//     position: absolute;
//     content: "";
//     width: 100%;
//     top: 0;
//     left: 0;
//   }
// }


//  .row .boost-pfs-filter-tree-v .boost-pfs-filter-option-collapsed button.boost-pfs-filter-clear {
//   opacity: 0;
//   pointer-events: none;
//  }

 .row .boost-pfs-filter-tree-v .boost-pfs-filter-option .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list-box li {
    min-width: 40px;
    width: 60px !important;
    padding: 0 10px 0 8px;
    margin-bottom: 20px;
 }

 .row .boost-pfs-filter-tree-v .boost-pfs-filter-option-box.boost-pfs-filter-option-size button span {
   width: 100%;
 }

 .row .boost-pfs-filter-tree-v .boost-pfs-filter-option .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list-box {

  li button {
    font-size: 14px;
    line-height: 18px;
    font-family: $kr;
    color: $color-dark;
    width: 40px;
    height: 40px;
    background: $color-white;
    border: 1px solid $color-dark;
    border-radius: 3px;
    position: relative;

    @include transition(400ms all $cubic);

    span {
      @include transition(400ms all $cubic);
    }

    &[aria-checked="true"] {
      color: $color-white;
      background: $color-dark;

      &:hover  .boost-pfs-filter-option-value {
        color: $color-white;
      }
    }

    &:hover {
      color: $color-dark;
      background: $color-dark;

      .boost-pfs-filter-option-value {
        color: $color-white;
      }
    }

    .boost-pfs-check-box {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      display: block;
      opacity: 0;
    }
  }
 }

 .row .boost-pfs-filter-option.boost-pfs-filter-option-color,
 .row .boost-pfs-filter-option.boost-pfs-filter-option-size {
  padding-bottom: 9px;
 }

 .row .boost-pfs-filter-option.boost-pfs-filter-option-size .boost-pfs-filter-option-content-inner ul.boost-pfs-filter-option-item-list {
  padding-bottom: 7px;
 }

 .row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch.circle-grid li .boost-pfs-filter-option-swatch-image+.boost-pfs-filter-button {
   display: block;
 }

 .row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-clothing .boost-pfs-check-box,
 .boost-pfs-filter-option-accessories .boost-pfs-check-box {
   top: 4px;
 }

//  .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list li .boost-pfs-check-box
 .row .boost-pfs-filter-option-clothing .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list li .boost-pfs-check-box {
//  .boost-pfs-filter-option-clothing .boost-pfs-check-box {
   position: relative;
 }

 .row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-clothing .boost-pfs-check-box,
 .boost-pfs-filter-option-accessories .boost-pfs-check-box,
//  .row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-kinrgy-x-brands .boost-pfs-check-box {
 .boost-pfs-filter-option-kinrgy-x-brands .boost-pfs-check-box {
  // top: 4px;
  margin-right: 10px;
  position: relative;
 }

 .row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list:not(.boost-pfs-filter-option-item-list-multiple-list) .boost-pfs-check-box {
  width: 18px;
  height: 18px;
  border: 1px solid $color-dark;
  background: $color-white;
  display: inline-block;
 }

 .row .boost-pfs-filter-option.boost-pfs-filter-option-color ul {
   padding-bottom: 27px;

   @include flexbox();
   @include flex-direction(column);

   li {
    @include flexbox();

    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-family: $kr;
    line-height: 18px;
    position: relative;
   }

   button {
    display: inline-block;
    width: 100px;
    padding-top: 0;

    &.boost-pfs-filter-button {
      display: inline-block;
    }

    &[aria-checked="true"] span.boost-pfs-check-box::before {
      opacity: 1;
    }

    .boost-pfs-check-box {
      margin-right: 44px;
      position: relative;
      top: 3px;
    }
   }
 }
 
 .boost-pfs-filter-wrapper .boost-pfs-filter-left-col .boost-pfs-filter-tree.boost-pfs-filter-tree-mobile-sticky .boost-pfs-filter-option-item.selected .boost-pfs-check-box:before,
 .row .boost-pfs-filter-option.boost-pfs-filter-has-scrollbar .boost-pfs-filter-option-content .boost-pfs-filter-option-content-inner li button[aria-checked="true"] span.boost-pfs-check-box::before {
   opacity: 1;
 }

 .boost-pfs-filter-tree-mobile-sticky .boost-pfs-filter-option-item .boost-pfs-check-box {
   position: relative;
 }

//  .boost-pfs-filter-tree-mobile-sticky .boost-pfs-filter-option-item .boost-pfs-filter-option-label .boost-pfs-check-box:before,
 .boost-pfs-filter-tree-mobile-sticky .boost-pfs-filter-option-item .boost-pfs-check-box:before,
 .row .boost-pfs-filter-option.boost-pfs-filter-option-color ul button .boost-pfs-check-box::before,
 .row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list li.selected .boost-pfs-check-box:before {
    content: '';
    width: 9px;
    height: 6px;
    // border: 2px solid #000;
    border: 2px solid $color-green;
    border-top: none;
    border-right: none;
    background: 0 0;
    -ms-transform: rotate(-50deg);
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 3px;
    left: 3.3px;
    opacity: 0;

    @include transition(400ms all $cubic);
 }

 .row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch .boost-pfs-filter-option-item .boost-pfs-filter-option-swatch-image {
    width: 24px;
    height: 24px;
    box-shadow: none;
    border: 1px solid $color-dark;
    position: absolute;
    left: 34px;
    top: 3px;
 }

 .row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch .boost-pfs-filter-option-item.selected .boost-pfs-filter-option-swatch-image {
   border: 1px solid $color-dark !important;
 }

 .row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch.circle-grid li .boost-pfs-filter-option-swatch-image + .boost-pfs-filter-button {
   display: inline-block !important;
   width: calc(100% - 60px);
   padding-top: 0;
 }

 .row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch.circle-grid li {
   margin-top: 0;
   margin-bottom: 0;
 }

 .row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch .boost-pfs-filter-option-item:hover .boost-pfs-filter-option-swatch-image:before,
 .row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch .boost-pfs-filter-option-item.selected .boost-pfs-filter-option-swatch-image:before {
   border-color: transparent;
 }

@media screen and (max-width: 768px) {
  .full-width-slider .row {
    @include justify-content(center);
  }

  .full-width-slider .slide .row {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    padding-top: 120px;
  }

  .collection-slider .dots,
  .collection-slider .arrows {
    display: none;
    visibility: hidden;
  }
}

@media screen and (min-width: 1025px) {
  body.product .collection-slider,
  .collection-slider {
    .slide,
    .slide .row {
      max-width: 460px;
    }
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  body.product .collection-slider,
  .collection-slider {
    padding-top: 40px;
    padding-bottom: 0px;

    .slide,
    .slide .row {
      width: 31vw;
    }

    // .dots {
    //   display: none;
    //   visibility: hidden;
    // }

    figure {
      padding-bottom: 123%;
    }
  }
}

@media screen and (min-width: 769px) {
  body.product .collection-slider,
  .collection-slider {
    .slider-count {
      display: none;
      visibility: hidden;
    }
  }
}

@media screen and (max-width: 768px) {
  body.product .collection-slider, 
  .collection-slider {
    padding-top: 40px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 768px) and (min-width: 577px) {
  body.product .collection-slider,
  .collection-slider {
    // padding-top: 40px;
    // padding-bottom: 0px;

    .slide,
    .slide .row {
      width: 46vw;
    }

    .slider-one {
      overflow: visible;
    }

    figure {
      padding-bottom: 125%;
    }
  }
}

@media screen and (max-width: 576px) {
  body.product .collection-slider .slider-one,
  .collection-slider {
    .slide,
    .slide .row {
      width: 90vw;
    }

    figure {
      padding-bottom: 127%;
    }
  }

  body.product .collection-slider .slider-one .slider-one-content,
  .collection-slider .slider-one .slider-one-content,
  body.product .collection-slider .slider-one, 
  .collection-slider .slider-one {
    overflow: visible;
  }
}
