#preview-bar-iframe {
  display: none !important;
  visibility: hidden;
}


body {
  .product-list .title {
    color: #1c1e20;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
  }

  .collection-list {
    padding: 70px 0 0;
    width: 100%;
  }

  section > .row-wrapper {
    padding: 0 40px;
  }

  .price-color-wrap {
    @include flexbox();

    margin-bottom: 5px;
  }

  .price-color-wrap .swatch-color {
    @include flexbox();
    @include flex-wrap(wrap);

    width: 80%;
    margin: 0px;    
  }

  .price-color-wrap .swatch-color .swatch-element {
    width: 20px;
    height: 20px;
    margin: 2px 7px 0 0px;
    border: 1px solid white;
  }

  .price-color-wrap .swatch-color input:checked + label {
    box-shadow: none;
  }

  .swatch-size {
    margin: 0px 0px 10px;
  }

  .swatch-size .header {
    color: #1c1e20;
    font-size: 14px;
    line-height: 40px;
    min-height: 40px;
    margin: 0 10px 0 0;
  }

  .swatch-size .swatch-element {
    margin: 0 4px 0 0;
  }

  .swatch-size input:checked + label {
    box-shadow: none;
  }

  .swatch-size .soldout {
    pointer-events: none;

    label {
      position: relative;
      color: $color-gray;
    }
  }

  .collection-list .swatch-size .soldout label::before {
    top: -3px;
  }

  .swatch-size .soldout label::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 0;
    top: -7px;
    bottom: 0;
    right: 0;
    margin: auto;
    background: $color-gray;
  }

  .swatch.swatch-color {
    margin-left: 24px;

    .header {
      display: none;
    }
  }


  form .btn {
    width: 100%;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    height: 48px;
    display: none;
    font-weight: 400;
  }

  .swatch-element {
    label {
      width: 20px;
      height: 20px;

      &::before {
        width: 12px;
        height: 12px;
      }

      &::after {
        width: 20px;
        height: 20px;
      }
    }
  }

  .swatch-size {

    label {
      width: 28px;
      height: 28px;

      &::after {
        width: 28px;
        height: 28px;
      }
    }
  }

  [class*=col-] {
    padding-left: 0;
    padding-right: 0;
  }

  .inner-item {
    position: relative;
  }

  .input-cart-wrapper {
    width: 100%;
  }

  .product-list li {
    z-index: 1;
    margin-bottom: 2.0625em;
    position: relative;
  }

  .title,
  .price-color-wrap {
    z-index: 1;
    position: relative;
  }

  form .btn {
    display: block;
  }
}

body.product,
body.product-membership,
body.product-kit {
  section .swatch.swatch-color .header {
    @include inline-flex();

    label {
      box-shadow: none;
      margin-right: 0;
    }
  }

  .swatch input:checked + label {
    box-shadow: none;
  }

  section .swatch.swatch-color {
    margin-left: 0;
  }

  .product-form .swatch .swatch-element.color label {
    margin-right: 0;

    i {
      margin-left: 3px;
    }
  }
}

.product-list .swatch .header .current-color {
  display: none;
}

.color-list a[data-color=White] {
  width: 15px;
  height: 15px;
  
  &::after {
    top: -7px;
    left: -7px;
  }
}

// ************************
// White
// ************************
.swatch-element.white label::before {
  background: $swatch-white;
}

// ************************
// Off White
// ************************
.boost-pfs-filter-option-swatch-image[title="Otameal"],
.boost-pfs-swatch-element.boost-pfs-quickview-option-color label[for="ProductSelect-option-color-Oatmeal"],
.swatch-element.oatmeal label::before {
  background: $swatch-oatmeal;
  background-color: $swatch-oatmeal !important;
  background-image: none !important;
}

// Black
.swatch-element.black label::before {
  background: $swatch-black;
}

// ************************
// Gray / Gray
// ************************
.boost-pfs-filter-option-swatch-image[title="Grey"],
.boost-pfs-swatch-element.boost-pfs-quickview-option-color label[for="ProductSelect-option-color-Grey"],
.boost-pfs-swatch-element.boost-pfs-quickview-option-color label[for="ProductSelect-option-color-Gaey"],
.swatch-element.grey label::before,
.swatch-element.gray label::before {
  background: $swatch-gray;
  background-color: $swatch-gray !important;
  background-image: none !important;
}

.boost-pfs-filter-option-swatch-image[title="Dark Grey"],
.boost-pfs-swatch-element.boost-pfs-quickview-option-color label[for="ProductSelect-option-color-Dark Grey"],
.boost-pfs-swatch-element.boost-pfs-quickview-option-color label[for="ProductSelect-option-color-Dark Gray"],
.swatch-element.dark-grey label::before,
.swatch-element.dark-gray label::before {
  background: $swatch-dark-gray;
  background-color: $swatch-dark-gray !important;
  background-image: none !important;
}

.swatch-element.silver label::before {
  background: $swatch-silver;
}

.swatch-element.dark-gray label::before,
.swatch-element.darkgray label::before {
  background: $swatch-dark-gray;
}

.swatch-element.light-gray label::before,
.swatch-element.lightgray label::before {
  background: $swatch-light-grey;
}

.swatch-element.slate-gray label::before,
.swatch-element.slategray label::before {
  background: $swatch-slate-gray;
}

.swatch-element.light-slate-gray label::before,
.swatch-element.lightslategray label::before {
  background: $swatch-light-slate-gray;
}

.swatch-element.dim-gray label::before,
.swatch-element.dimgray label::before {
  background: $swatch-dim-gray;
}

.swatch-element.dark-slate-gray label::before,
.swatch-element.darkslategray label::before {
  background: $swatch-dark-slate-gray;
}
// End Gray / Greys

// ************************
// Orange & Browns
// ************************
.swatch-element.orange label::before {
  background: $swatch-orange;
}

.swatch-element.brown label::before {
  background: $swatch-brown;
}

.boost-pfs-filter-option-swatch-image[title="Spiced Bronze"],
.boost-pfs-swatch-element.boost-pfs-quickview-option-color label[for="ProductSelect-option-color-Spiced Bronze"],
.swatch-element.spiced-bronze label::before,
.swatch-element.spicedbronze label::before {
  background: $swatch-spiced-bronze;
  background-color: $swatch-spiced-bronze !important;
  background-image: none !important;
}

.swatch-element.sandy-brown label::before,
.swatch-element.sandybrown label::before {
  background: $swatch-sandy-brown;
}

.swatch-element.rosy-brown label::before,
.swatch-element.rosybrown label::before {
  background: $swatch-rosy-brown;
}

.swatch-element.dark-orange label::before,
.swatch-element.darkorange label::before {
  background: $swatch-dark-orange;
}

.swatch-element.saddle-brown label::before,
.swatch-element.saddlebrown label::before {
  background: $swatch-saddle-brown;
}
// End Orange & Browns

// ************************
// Red
// ************************
.swatch-element.red label::before {
  background: $swatch-red;
}

.boost-pfs-filter-option-swatch-image[title="Brick"],
.boost-pfs-swatch-element.boost-pfs-quickview-option-color label[for="ProductSelect-option-color-Brick"],
.swatch-element.brick label::before {
  background: $swatch-brick;
  background-color: $swatch-brick !important;
  background-image: none !important;
}

.boost-pfs-filter-option-swatch-image[title="Fire Brick"],
.boost-pfs-swatch-element.boost-pfs-quickview-option-color label[for="ProductSelect-option-color-Fire Brick"],
.swatch-element.fire-brick label::before,
.swatch-element.firebrick label::before {
  background: $swatch-fire-brick;
  background-color: $swatch-fire-brick !important;
  background-image: none !important;
}

.swatch-element.dark-red label::before,
.swatch-element.darkred label::before {
  background: $swatch-dark-red;
}

.swatch-element.maroon label::before {
  background: $swatch-maroon;
}

.swatch-element.crimson label::before {
  background: $swatch-crimson;
}

.swatch-element.pale-violet-red label::before,
.swatch-element.palevioletred label::before {
  background: $swatch-pale-violet-red;
}

.swatch-element.indian-red label::before,
.swatch-element.indianred label::before {
  background: $swatch-indian-red;
}

.swatch-element.medium-violet-red label::before,
.swatch-element.mediumvioletred label::before {
  background: $swatch-medium-violet-red;
}

.swatch-element.orangered label::before {
  background: $swatch-orangered;
}

.swatch-element.sienna label::before {
  background: $swatch-sienna;
}

.swatch-element.dark-magenta label::before,
.swatch-element.darkmagenta label::before {
  background: $swatch-dark-magenta;
}

.swatch-element.tomato label::before {
  background: $swatch-tomato;
}

.swatch-element.peru label::before {
  background: $swatch-peru;
}

.swatch-element.chocolate label::before {
  background: $swatch-chocolate;
}

.swatch-element.coral label::before {
  background: $swatch-coral;
}


// End Red

// ************************
// Pink / Purple
// ************************
.swatch-element.pink label::before {
  background: $swatch-pink;
}

.boost-pfs-filter-option-swatch-image[title="Mauve"],
.boost-pfs-swatch-element.boost-pfs-quickview-option-color label[for="ProductSelect-option-color-Mauve"],
.swatch-element.mauve label::before {
  background: $swatch-mauve;
  background-color: $swatch-mauve !important;
  background-image: none !important;
}

.swatch-element.purple label::before {
  background: $swatch-purple;
}

.swatch-element.violet label::before {
  background: $swatch-violet;
}

.swatch-element.plum label::before {
  background: $swatch-plum;
}

.swatch-element.orchid label::before {
  background: $swatch-orchid;
}

.swatch-element.hot-pink label::before,
.swatch-element.hotpink label::before {
  background: $swatch-hot-pink;
}

.swatch-element.light-coral label::before,
.swatch-element.lightcoral label::before {
  background: $swatch-light-coral;
}

.swatch-element.salmon label::before {
  background: $swatch-salmon;
}

.swatch-element.light-salmon label::before,
.swatch-element.lightsalmon label::before {
  background: $swatch-light-salmon;
}

.swatch-element.dark-salmon label::before,
.swatch-element.darksalmon label::before {
  background: $swatch-dark-salmon;
}

.swatch-element.light-pink label::before,
.swatch-element.lightpink label::before {
  background: $swatch-light-pink;
}

.swatch-element.fuchsia label::before {
  background: $swatch-fuchsia;
}

.swatch-element.magenta label::before {
  background: $swatch-magenta;
}

.swatch-element.medium-purple label::before,
.swatch-element.mediumpurple label::before {
  background: $swatch-medium-purple;
}

.swatch-element.dark-orchid label::before,
.swatch-element.darkorchid label::before {
  background: $swatch-dark-orchid;
}

.swatch-element.blue-violet label::before,
.swatch-element.blueviolet label::before {
  background: $swatch-blue-violet;
}

.swatch-element.deep-pink label::before,
.swatch-element.deeppink label::before {
  background: $swatch-deep-pink;
}

.swatch-element.medium-orchid label::before,
.swatch-element.mediumorchid label::before {
  background: $swatch-medium-orchid;
}

.swatch-element.dark-violet label::before,
.swatch-element.darkviolet label::before {
  background: $swatch-dark-violet;
}

.swatch-element.peach-puff label::before,
.swatch-element.peachpuff label::before {
  background: $swatch-peach-puff;
}

.swatch-element.thistle label::before {
  background: $swatch-thistle;
}

.swatch-element.lavender-blush label::before,
.swatch-element.lavenderblush label::before {
  background: $swatch-lavender-blush;
}

.swatch-element.lavender label::before {
  background: $swatch-lavender;
}

.swatch-element.misty-rose label::before {
  background: $swatch-misty-rose;
}
// End pink / purple

// ************************
// Yellow
// ************************
.swatch-element.yellow label::before {
  background: $swatch-yellow;
}

.swatch-element.gold label::before {
  background: $swatch-gold;
}

.swatch-element.goldenrod label::before {
  background: $swatch-goldenrod;
}

.swatch-element.khaki label::before {
  background: $swatch-khaki;
}

.swatch-element.tan label::before {
  background: $swatch-tan;
}

.swatch-element.dark-khaki label::before {
  background: $swatch-dark-khaki;
}

.swatch-element.burlywood label::before {
  background: $swatch-burlywood;
}

.swatch-element.light-goldenrod-yellow label::before,
.swatch-element.lightgoldenrodyellow label::before {
  background: $swatch-light-goldenrod-yellow;
}

.swatch-element.lemon-chiffon label::before,
.swatch-element.lemonchiffon label::before {
  background: $swatch-lemon-chiffon;
}

.swatch-element.light-yellow label::before,
.swatch-element.lightyellow label::before {
  background: $swatch-light-yellow;
}

.swatch-element.pale-golden-rod label::before,
.swatch-element.palegoldenrod label::before {
  background: $swatch-pale-golden-rod;
}

.swatch-element.dark-golden-rod label::before,
.swatch-element.darkgoldenrod label::before {
  background: $swatch-dark-golden-rod;
}

.swatch-element.corn-silk label::before,
.swatch-element.cornsilk label::before {
  background: $swatch-corn-silk;
}

.swatch-element.beige label::before {
  background: $swatch-beige;
}

.swatch-element.wheat label::before {
  background: $swatch-wheat;
}
// End yellow

// ************************
// Blue 
// ************************
.swatch-element.blue label::before {
  background: $swatch-blue;
}

.boost-pfs-filter-option-swatch-image[title="Iron Blue"],
.boost-pfs-swatch-element.boost-pfs-quickview-option-color label[for="ProductSelect-option-color-Iron Blue"],
.swatch-element.iron-blue label::before,
.swatch-element.ironblue label::before {
  background: $swatch-iron-blue;
  background-color: $swatch-iron-blue !important;
  background-image: none !important;
}

.swatch-element.sky-blue label::before,
.swatch-element.skyblue label::before {
  background: $swatch-sky-blue;
}
.swatch-element.aqua label::before {
  background: $swatch-aqua;
}

.swatch-element.cyan label::before {
  background: $swatch-cyan;
}

.swatch-element.light-sky-blue label::before,
.swatch-element.lightskyblue label::before {
  background: $swatch-light-sky-blue;
}

.swatch-element.deep-sky-blue label::before,
.swatch-element.deepskyblue label::before {
  background: $swatch-deep-sky-blue;
}
.swatch-element.corn-flower-blue label::before,
.swatch-element.corn-flower-blue label::before {
  background: $swatch-corn-flower-blue;
}

.swatch-element.light-steel-blue label::before,
.swatch-element.lightsteelblue label::before {
  background: $swatch-light-steel-blue;
}

.swatch-element.light-blue label::before,
.swatch-element.lightblue label::before {
  background: $swatch-light-blue;
}

.swatch-element.powder-blue label::before,
.swatch-element.powderblue label::before {
  background: $swatch-powder-blue;
}

.swatch-element.medium-slate-blue label::before,
.swatch-element.mediumslateblue label::before {
  background: $swatch-medium-slate-blue;
}

.swatch-element.dodger-blue label::before,
.swatch-element.dodgerblue label::before {
  background: $swatch-dodger-blue;
}

.swatch-element.steel-blue label::before,
.swatch-element.steelblue label::before {
  background: $swatch-steel-blue;
}

.swatch-element.royal-blue label::before,
.swatch-element.royalblue label::before {
  background: $swatch-royal-blue;
}

.swatch-element.alice-blue label::before,
.swatch-element.aliceblue label::before {
  background: $swatch-alice-blue;
}

.swatch-element.slate-blue label::before,
.swatch-element.slateblue label::before {
  background: $swatch-slate-blue;
}

.swatch-element.dark-slate-blue label::before,
.swatch-element.darkslateblue label::before {
  background: $swatch-dark-slate-blue;
}

.swatch-element.medium-blue label::before,
.swatch-element.mediumblue label::before {
  background: $swatch-medium-blue;
}

.swatch-element.indigo label::before {
  background: $swatch-indigo;
}

.swatch-element.midnight-blue label::before,
.swatch-element.midnightblue label::before {
  background: $swatch-midnight-blue;
}
.swatch-element.dark-blue label::before,
.swatch-element.darkblue label::before {
  background: $swatch-dark-blue;
}

.swatch-element.navy label::before {
  background: $swatch-navy;
}

.swatch-element.cadet-blue label::before,
.swatch-element.cadetblue label::before {
  background: $swatch-cadet-blue;
}

.swatch-element.azure label::before {
  background: $swatch-azure;
}
// End Blue

// **********************
// Turquoise
// **********************
.swatch-element.turquoise label::before {
  background: $swatch-turquoise;
}

.swatch-element.medium-turquoise label::before ,
.swatch-element.mediumturquoise label::before { 
  background: $swatch-medium-turquoise;
}

.swatch-element.dark-turquoise label::before,
.swatch-element.darkturquoise label::before {
  background: $swatch-dark-turquoise;
}

.swatch-element.pale-turquoise label::before,
.swatch-element.paleturquoise label::before {
  background: $swatch-pale-turquoise;
}
// End Turquoise

// ***********************
// Green
// ***********************
.boost-pfs-filter-option-swatch-image[title="Green"],
.boost-pfs-swatch-element.boost-pfs-quickview-option-color label[for="ProductSelect-option-color-Green"],
.swatch-element.green label::before {
  background: $swatch-green;
}

.boost-pfs-filter-option-swatch-image[title="Olive"],
.boost-pfs-swatch-element.boost-pfs-quickview-option-color label[for="ProductSelect-option-color-Olive"],
.swatch-element.olive label::before {
  background: $swatch-olive;
  background-color: $swatch-olive !important;
  background-image: none !important;
}

.swatch-element.light-green label::before,
.swatch-element.deep-teal label::before {
  background: $swatch-deep-teal;
}

.boost-pfs-filter-option-swatch-image[title="Deep Teal"],
.boost-pfs-swatch-element.boost-pfs-quickview-option-color label[for="ProductSelect-option-color-Deep Teal"],
.swatch-element.teal label::before {
  background: $swatch-teal;
  background-color: $swatch-teal !important;
  background-image: none !important;
}

.swatch-element.light-green label::before,
.swatch-element.lightgreen label::before {
  background: $swatch-light-green;
}

.swatch-element.pale-green label::before,
.swatch-element.pale-green label::before {
  background: $swatch-pale-green;
}

.swatch-element.medium-spring-green label::before,
.swatch-element.mediumspringgreen label::before {
  background: $swatch-medium-spring-green;
}

.swatch-element.aquamarine label::before {
  background: $swatch-aquamarine;
}

.swatch-element.medium-aquamarine label::before,
.swatch-element.mediumaquamarine label::before {
  background: $swatch-medium-aquamarine;
}

.swatch-element.green-yellow label::before,
.swatch-element.greenyellow label::before {
  background: $swatch-green-yellow;
}

.swatch-element.dark-sea-green label::before,
.swatch-element.darkseagreen label::before {
  background: $swatch-dark-sea-green;
}

.swatch-element.chartreuse label::before {
  background: $swatch-chartreuse;
}

.swatch-element.spring-green label::before,
.swatch-element.springgreen label::before {
  background: $swatch-spring-green;
}

.swatch-element.lawn-green label::before,
.swatch-element.lawngreen label::before {
  background: $swatch-lawn-green;
}

.swatch-element.yellow-green label::before,
.swatch-element.yellowgreen label::before {
  background: $swatch-yellow-green;
}

.swatch-element.light-sea-green label::before,
.swatch-element.lightseagreen label::before {
  background: $swatch-light-sea-green;
}

.swatch-element.olive-drab label::before,
.swatch-element.olivedrab label::before {
  background: $swatch-olive-drab;
}

.swatch-element.sea-green label::before,
.swatch-element.seagreen label::before {
  background: $swatch-sea-green;
}

.swatch-element.teal label::before {
  background: $swatch-teal;
}

.swatch-element.medium-sea-green label::before,
.swatch-element.mediumseagreen label::before {
  background: $swatch-medium-sea-green;
}

.swatch-element.lime-green label::before,
.swatch-element.limegreen label::before {
  background: $swatch-lime-green;
}

.swatch-element.lime label::before {
  background: $swatch-lime;
}

.swatch-element.dark-cyan label::before,
.swatch-element.darkcyan label::before {
  background: $swatch-dark-cyan;
}

.swatch-element.olive label::before {
  background: $swatch-olive;
}

.swatch-element.dark-olive-green label::before,
.swatch-element.darkolivegreen label::before {
  background: $swatch-dark-olive-green;
}

.swatch-element.forest-green label::before,
.swatch-element.forestgreen label::before {
  background: $swatch-forest-green;
}

.swatch-element.dark-green label::before,
.swatch-element.darkgreen label::before {
  background: $swatch-dark-green;
}

.swatch-element.light-cyan label::before,
.swatch-element.lightcyan label::before {
  background: $swatch-light-cyan;
}
// End Green

// *************************
// Off White
// *************************
.swatch-element.snow label::before {
  background: $swatch-snow;
}

.swatch-element.ivory label::before {
  background: $swatch-ivory;
}

.swatch-element.ghost-white label::before,
.swatch-element.ghostwhite label::before {
  background: $swatch-ghost-white;
}

.swatch-element.floral-white label::before,
.swatch-element.floralwhite label::before {
  background: $swatch-floral-white;
}

.swatch-element.white-smoke label::before,
.swatch-element.whitesmoke label::before {
  background: $swatch-white-smoke;
}

.swatch-element.old-lace label::before,
.swatch-element.oldlace label::before {
  background: $swatch-old-lace;
}

.swatch-element.linen label::before {
  background: $swatch-linen;
}

.swatch-element.mint-cream label::before,
.swatch-element.mintcream label::before {
  background: $swatch-mint-cream;
}

.swatch-element.antique-white label::before,
.swatch-element.antiquewhite label::before {
  background: $swatch-antique-white;
}

.swatch-element.blanched-almond label::before,
.swatch-element.blanchedalmond label::before {
  background: $swatch-blanched-almond;
}

.swatch-element.navajo-white label::before,
.swatch-element.navajowhite label::before {
  background: $swatch-navajo-white;
}
// End Off White

// *************************
// Other
// *************************
.swatch-element.honey-dew label::before,
.swatch-element.honeydew label::before {
  background: $swatch-honey-dew;
}

.swatch-element.seashell label::before {
  background: $swatch-seashell;
}

.swatch-element.papayawhip label::before {
  background: $swatch-papayawhip;
}

.swatch-element.bisque label::before {
  background: $swatch-bisque;
}

.swatch-element.moccasin label::before {
  background: $swatch-moccasin;
}

.swatch-element.gainsboro label::before {
  background: $swatch-gainsboro;
}

// End Other

.swatch-element {
  label {
    position: relative;
    border-radius: 50%;
    margin-right: 3px;
    background: transparent;

    @include transition(all 400ms $cubic);

    &::before {
      position: absolute;
      content: "";
      border-radius: 50%;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      transform-origin: center;
    }

    &::after {
      position: absolute;
      content: "";
      border-radius: 50%;
      transform-origin: center;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      border: 1px solid $color-dark;

      @include transition(all 400ms $cubic);
      @include transform(scale(0));
    }
  }

  &.active label::after {
    @include transform(scale(1));
  }
}

.swatch-size {
  @include flexbox();
  @include justify-content(flex-start);
  @include align-items(center);

  label {
    line-height: 28px;
    padding: 0;
    font-size: 1em;
    color: $color-dark;

  }
}

section.quick-view,
section .product-list .swatch-size .swatch-element,
.swatch-size .swatch-element {
  &.xs-s label,
  &.x-s label,
  &.s-m label,
  &.m-l label {
    width: 45px;
    height: 100%;

    &::before,
    &::after {
      width: 100%;
      height: 100%;        
    }

    &::before {
      top: -1px;
      border-radius: 0;
      left: -4px;
    }
  }


  label[for=swatch-0-8-9],
  label[for=swatch-0-9-10],
  label[for=swatch-0-10-11],
  label[for=swatch-0-11-12],
  label[for=swatch-0-12-13],
  label[for=swatch-0-13-14] {
    width: 47px;
    left: -4px;

    &::before,
    &::after {
      width: 47px;
    }
  }

  label[for$=xl]  {
    width: 40px;
    left: -4px;

    &::before,
    &::after {
      width: 40px;
    }
  }

  // Posters
  label[for$="27x39"] {
    width: 70px;

    &::before,
    &::after {
      width: 100%;
    }
  }

  &.xs-s.soldout label,
  &.x-s.soldout label,
  &.s-m.soldout label,
  &.soldout label[for$=xl],
  &.m-l.soldout label {
    &::before {
      width: 100%;
      height: 2px;
    }
  }

  &.xl label {
    width: 28px;
    height: 28px;

    &::before {
      width: 12px;
      height: 12px;
    }

    &::after {
      width: 28px;
      height: 28px;
    }
  }
}

section.quick-view .swatch-element.one-size label,
.swatch-element.one-size label {
  width: 80px;
  height: 28px;

  &::after {
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    left: -5px;
  }
}

@media (max-width: 1200px) {
  #collections-section-two {
    .col-lg-4:last-child,
    .col-md-4:last-child,
    .col-sm-6:last-child,
    .col-xs-6:last-child {
      // min-height: 57vw;
    }
  }

  #home-section-two {
    .bottom-lg-spacing {
      padding-bottom: 40px;
    }
  }

  #home-section-two, 
  #home-section-three, 
  #home-section-four, 
  #home-section-five, 
  #collections-section-two {
    .price-color-wrap .large {
      width: auto;
      // width: 25%;
      @include inline-flex();
    }

    .price-color-wrap .swatch-color {
      // width: 75%;
      width: auto;
    }
  }
}

@media all and (min-width: 1025px) {
  .product-list {
    .item-background {
      background: white;
      position: absolute;
      content: "";
      top: -30px;
      // top: 0;
      left: -30px;
      // left: 0;
      bottom: 0;
      width: calc(100% + 60px);
      // width: 100%;
      height: calc(100% + 158px);
      // height: 100%;
      opacity: 0;
      z-index: 0;
      transition: none;
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    }

    .hover-variants {
      @include flexbox;
      @include flex-direction(column);
      @include justify-content(flex-end);
      
      background: white;
      opacity: 0;
      bottom: 0;
      position: absolute;
      width: 100%;
      top: 100%;
      z-index: 5;
      transition: 200ms all linear, 0ms;
      overflow: hidden;
      height: 128px;
      padding-bottom: 30px;
    }

    li {
      overflow: hidden;
    }

    li:hover {
      overflow: visible;
      z-index: 4;
    }

    li .inner-item:hover {
      .item-background {
        opacity: 1;
      }

      .hover-variants {
        pointer-events: all;
        opacity: 1;
        transition: 200ms all linear, 200ms;
      }
    }
  }
} // End 1024 Min

@media all and (max-width: 1024px) {
  .hover-variants {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 991px) {
  #home-section-two, 
  #home-section-three, 
  #home-section-four, 
  #home-section-five {
    .row-wrapper {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  #collections-section-two {
    // .hover-expanded {
    //   position: static;
    //   padding: 0 10px;
    //   width: 100%;
    //   background: transparent;
    //   box-shadow: none;
    //   // form,
    //   // .swatch-size {
    //   //   display: none;
    //   // }
    // }

    .product-list .title {
      margin-bottom: 6px;
    }

    .collection-list {
      padding: 40px 15px 0;
    }

    .row-wrapper {
      padding: 0;
    }

    // .col-lg-4,
    // .col-md-4,
    // .col-sm-6,
    // .col-xs-6 {
    //   min-height: 0;
    // }

    // .swatch {
    //   margin-top: 6px;
    // }
  }
}

@media (max-width: 767px) {
  #collections-section-one {
    .heading-140 {
      font-size: 60px;
    }

    .filter-button-row .filter {
      border-radius: 22px;
      font-size: 16px;
      padding: 6px 25px;
    }
  }

  #collections-section-two {
    form .btn {
      font-size: 12px;
    }

    .inner-item {
      margin: 0;
      padding: 0 10px;
    }

    .product-modal-link {
      width: 48px;
      height: 40px;

      svg {
        width: 28px;
        height: 28px;
      }
    }

    .collection-list {
      padding: 40px 10px 0;
    }

    .product-list .title {
      text-align: center;
      font-size: 16px;
    }

    // .price-color-wrap .swatch .white {
    //   label {
    //     // border: solid 1px;
    //   }
    // }

    .price-color-wrap {
      display: block;

      .large {
        width: 100%;
        text-align: center;
        font-size: 16px;
      }

      .swatch {
        width: 100%;
        justify-content: center;
        margin-top: 6px;
      }
    }
  }
}

// *********************
// Full Width Slider
.full-width-slider {
  min-height: 100vh;

  .slider-one-wrap {
    // padding-bottom: 69.5%;
    padding-bottom: 100vh;
  }

  h1 + p {
    margin-top: 10px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .row {
    min-height: 100vh;
  }

  .slider-one-content {
    // min-height: calc(100vh - 120px);
    min-height: 100vh;
  }

  .slider-one {
    min-height: 100vh;
  }

  .slide {
    background: $color-dark;
  }
}

.collection-slider,
.full-width-slider {
  // min-height: 100vh;
  position: relative;

  .slider-one-content {
    position: absolute;
  }

  // .slider-one-wrap {
    // padding-bottom: 69.5%;
    // padding-bottom: 100vh;
  // }

  .slider-one-wrap {
    width: 100%;
    position: relative;

    @include flexbox();
  }

  // .slider-one {
  //   min-height: 100vh;
  // }

  .slider-count {
    @include flexbox();
    @include align-items(flex-end);
  }

  .slide .row {
    padding-bottom: 120px;
  }

  &.container-fluid .row {
    padding-left: 0;
    padding-right: 0;
  }

  .row {
    position: relative;
    z-index: 2;
    // min-height: 100vh;
    // min-height: calc(100vh - 120px);
    // padding-bottom: 50px;

    @include flexbox();
    @include justify-content(flex-end);
    @include align-items(center);
    @include flex-direction(column);
  }

  .subtitle {
    margin-bottom: 14px;
  }

  .button-wrapper {
    margin-top: 24px;
  }

  .slide {
    position: relative;
    width: 100vw;
    // background: $color-dark;
  }

  .slider-one .slider-one-content {
    cursor: pointer;
    overflow: hidden;

    @include flex-wrap(nowrap);
    @include flexbox();
  }

  // .slider-one-content {
  //   // min-height: calc(100vh - 120px);
  //   min-height: 100vh;
  // }
}

.collection-slider .dots,
.full-width-slider .dots {
  padding: 50px 0;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;

  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  // @include flex-direction(column);

  li,
  a {
    width: 20px;
    height: 4px;

    @include inline-flexbox();
  }

  li {
    margin: 0 9.5px;
  }

  a {
    background: $color-white;
    opacity: 0.3;

    @include transition(400ms all $cubic);

    &.active {
      opacity: 1;
    }
  }
}

.cta.membership,
.full-width-slider {
  .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    pointer-events: none;
  }
}

.full-width-slider .background {
  opacity: 0.85;
}

// *********************
// Collection Slider
// *********************
// body.product .collection-slider .exterior-row {
  // max-width: 1360px;
  // margin: auto;
  // padding-left: 40px;
  // padding-right: 40px;

  // .slider-one {
  //   padding-left: 40px;
  //   padding-right: 40px;
  // }
// }

body.product .collection-slider,
body.product-kit .collection-slider,
body.product-membership .collection-slider,
.collection-slider {
  padding-top: 144px;
  // padding-bottom: 121px;
  padding-bottom: 24px;
  overflow: visible;

  .slider-one-wrap {
    // padding-bottom: 48%;
    padding-bottom: 0;
  }

  .slider-count {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .slider-one-content {
    position: relative;
    overflow: visible;
  }

  .row {
    padding-bottom: 0;

    @include flexbox();
    @include align-items(flex-start);
    @include justify-content(flex-start);
  }

  .slide,
  .slide .row {
    // width: 32vw;
    // width: 31.4vw;
    width: 31.5vw;
    // width: 31.45vw;
    // width: 31vw;
    padding-bottom: 0;
  }

  .slide .row {
    padding-right: 20px;
  }

  .copy {
  // .copy,
  // .slide img {
    // width: calc(100% - 20px);
    width: 100%;
  }

  .slider-one {
    overflow: hidden;
  }

  figure {
    margin-bottom: 12px;
    // padding-bottom: 127%;
    padding-bottom: 132%;
    // padding-bottom: 149%;
    width: 100%;
    overflow: hidden;
    position: relative;
    // width: calc(100% - 20px);
    width: 100%;
    border: 1px solid rgba(28, 30, 32, 0.15);
  }

  .row-center h2 {
    margin-bottom: 31px;
  }

  img {
    transform-origin: center;

    @include transition(400ms all $cubic);
  }
}

.collection-slider .dots {
  position: relative;
  padding-top: 43px;
  padding-bottom: 43px;

  a {
    opacity: 1;
    // background: $color-green;
    background: $color-gray;

    &.active {
      background: $color-green;
      opacity: 1;
    }
  }
}

#shopify-section-product-collection-slider {
  position: relative;

  svg.related-lines-01 {
    top: 0;
    left: 0;
    display: block;
    margin: auto;
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.15;
  }
}

.collection-slider {
  position: relative;

  // svg.related-lines-01 {
  //   top: 0;
  //   left: 0;
  //   display: block;
  //   margin: auto;
  //   bottom: 0;
  //   right: 0;
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   pointer-events: none;
  //   opacity: 0.15;
  // }

  .arrows {
    position: absolute;
    width: 100%;
    z-index: 3;
    height: 80%;
    pointer-events: none;
    left: 0;
    right: 0;

    @include flexbox();
    @include justify-content(center);
    @include align-items(center);

    li {
      pointer-events: none;
    }

    a {
      width: 95px;
      height: 95px;
      background: $color-white;
      border-radius: 50%;
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
      position: absolute;
      top: 0;
      bottom: 0;
      display: block;
      margin: auto;
      pointer-events: all;

      // &:hover:not(.disabled) {
      //   svg line {
      //     // @include transform(scale(1.1));
      //     @include transform(scaleX(0.25));
      //   }
      // }

      &.disabled svg {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    svg {
      pointer-events: none;
      width: 23px;
      height: 16px;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: block;
      margin: auto;
      transform-origin: center;
    }

    svg,
    svg line {
      @include transition(400ms all $cubic);
    }

    .prev {
      // left: -20px;
      left: 20px;

      svg line {
        transform-origin: left;
      }
    }

    .next {
      // right: 60px;
      right: 20px;

      svg line {
        transform-origin: right;
      }
    }
  }
}

// *********************
// Soft App
// *********************
.row .boost-pfs-filter-default-toolbar {
  margin-bottom: 0;
  border: none;
}

.row .boost-pfs-filter-default-toolbar .boost-pfs-filter-toolbar-item {
  width: 100%;
  display: block;
}

.row .boost-pfs-filter-default-toolbar .boost-pfs-filter-top-sorting button,
.row .boost-pfs-filter-default-toolbar .boost-pfs-filter-top-sorting button span {
  font-family: $kb;
  color: $color-dark;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.container .row .boost-pfs-filter-custom-sorting.boost-pfs-filter-sort-active button>span:after {
  margin-top: 0;

  @include transform(rotate(180deg));
}
.boost-pfs-filter-top-sorting-mobile .boost-pfs-filter-top-sorting-wrapper,
.row .boost-pfs-filter-default-toolbar .boost-pfs-filter-top-sorting button {
  display: block;
  text-align: left;
  padding-right: 0;
  width: 100%;
  border-bottom: 2px solid $color-dark;

  span {
    width: 100%;
    display: block;
    line-height: 55px;

    &::after {
      right: 3px;
      background: url('https://cdn.shopify.com/s/files/1/0522/1918/3297/files/icon-green-down-arrow.svg?v=1608240409') no-repeat center center;
      background-size: contain;
      width: 18px;
      height: 18px;
      border: 1px solid transparent;
      margin-left: 0;
      transform-origin: center;

      @include transform(rotate(0deg));
      @include transition(400ms all $cubic);
    }
  }
}

.row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list li .boost-pfs-check-box {
  width: 18px;
  height: 18px;
}

.row .boost-pfs-filter-custom-sorting .boost-pfs-filter-filter-dropdown {
  width: 100%;

  a {
    color: $color-dark;
    font-family: $kr;

    &.boost-pfs-filter-sort-item-active {
      border-color: $color-dark;
    }
  }
}

section .boost-pfs-container-default {
  max-width: 100%;
  padding: 0;
}

.collection-section {
  .boost-pfs-filter-left-col {
    width: inherit;
  }

  .boost-pfs-filter-left-col {
    // padding-right: 10px;
    padding-right: 0;
  }
  .boost-pfs-filter-right-col {
    // padding-left: 10px;
    padding-left: 0;
  }

  .row .boost-pfs-filter-option {
    background: $color-tan;
    padding: 9px 30px 18px;
    margin-bottom: 20px;
  }

  .row .boost-pfs-filter-tree-v .boost-pfs-filter-option:first-child {
    padding-top: 9px;
  }

  .row .boost-pfs-filter-tree-v .boost-pfs-filter-option .boost-pfs-filter-option-title .boost-pfs-filter-option-title-heading {
    font-size: 14px;
    line-height: 52px;
    font-family: $kb;
    width: 100%;
    padding-bottom: 0;
    
    .boost-pfs-filter-option-title button {
      padding-bottom: 0;
    }

    .boost-pfs-filter-option-title button,
    .boost-pfs-filter-option-title-heading,
    .boost-pfs-filter-option-title-text {
      width: 100%;
      display: block;
      padding-bottom: 0;
    }
  }
}


// .boost-pfs-filter-tree-mobile-style2.boost-pfs-filter-tree-v .boost-pfs-filter-option-title-heading[aria-expanded="true"],
.row .boost-pfs-filter-tree-v .boost-pfs-filter-button[aria-expanded="true"] .boost-pfs-filter-option-title-text {
  &::before {
    @include transform(rotate(270deg));
  }

  &::after {
    @include transform(rotate(270deg) scaleY(0));
  }
}

// .boost-pfs-filter-tree-mobile-style2.boost-pfs-filter-tree-v .boost-pfs-filter-option-title-heading[aria-expanded="false"],
.row .boost-pfs-filter-tree-v .boost-pfs-filter-button[aria-expanded="false"] .boost-pfs-filter-option-title-text {
  &::before {
    @include transform(rotate(0deg));
  }

  &::after {
    @include transform(rotate(0deg) scaleY(1));
  }
}

.row .boost-pfs-filter-tree-v .boost-pfs-filter-option {
  border: none;
}

// .boost-pfs-filter-tree-mobile-style2.boost-pfs-filter-tree-v .boost-pfs-filter-option-title-heading::before,
// .boost-pfs-filter-tree-mobile-style2.boost-pfs-filter-tree-v .boost-pfs-filter-option-title-heading::after,
.row .boost-pfs-filter-tree-v .boost-pfs-filter-option.boost-pfs-filter-option-collapsed .boost-pfs-filter-option-title-text:before,
.row .boost-pfs-filter-tree-v .boost-pfs-filter-option.boost-pfs-filter-option-collapsed .boost-pfs-filter-option-title-text:after {
  margin: auto;
}
// .boost-pfs-filter-tree-mobile-style2.boost-pfs-filter-tree-v .boost-pfs-filter-option-title-heading,
.row .boost-pfs-filter-tree-v .boost-pfs-filter-option-title-text {
  &::before,
  &::after {
    position: absolute;
    content: "";
    background: $color-green;
    border: none;
    right: 0;
    display: block;
    margin: auto;
    top: 0;
    bottom: 0;
    transform-origin: center;

    @include transition(400ms all $cubic);
  }

  &:after {
    width: 12px;
    height: 2px;
  }

  &::before {
    height: 12px;
    width: 2px;
    right: 5px;
  }
}

.row .boost-pfs-filter-option-content {
  padding-top: 0;
  
  button {
    font-size: 14px;
    line-height: 32px;
    color: $color-dark;
    font-family: $kr;
  }
}

.row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list li .boost-pfs-check-box {
  background: $color-white;
  border: 1px solid $color-dark;
}

.row .boost-pfs-filter-option.boost-pfs-filter-option-list + .boost-pfs-filter-option.boost-pfs-filter-option-swatch,
.row .boost-pfs-filter-option.boost-pfs-filter-option-list + .boost-pfs-filter-option.boost-pfs-filter-option-box {
  margin-top: 20px;
}

// .row .boost-pfs-filter-tree .boost-pfs-filter-options-wrapper .boost-pfs-filter-option-list:last-of-type {
//   padding-bottom: 30px;
// }
.row .boost-pfs-filter-tree .boost-pfs-filter-options-wrapper .boost-pfs-filter-option-list:first-of-type {
  padding-top: 10px;

  button {
    border-top :1px solid transparent;
    padding-bottom: 0;
  }
}

.row .boost-pfs-filter-option-list  {
  button {
    padding: 0;
    border-top: 1px solid rgba(40, 40, 41, 0.15);
  }
}

// .row .boost-pfs-filter-option.boost-pfs-filter-option-list.boost-pfs-filter-option-vendor {
//   padding-bottom: 20px;
// }

.row .boost-pfs-filter-option.boost-pfs-filter-option-list {
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  border: none;

  &:nth-of-type(3) {
    padding-bottom: 10px;
  }
}

.row .boost-pfs-filter-option.boost-pfs-filter-option-list ul.boost-pfs-filter-option-item,
.row .boost-pfs-filter-option.boost-pfs-filter-has-scrollbar .boost-pfs-filter-option-content .boost-pfs-filter-option-content-inner ul {
  padding-top: 5px;
  padding-bottom: 27px;
}

.row .boost-pfs-filter-option.boost-pfs-filter-option-list ul.boost-pfs-filter-option-item li,
.row .boost-pfs-filter-option.boost-pfs-filter-has-scrollbar .boost-pfs-filter-option-content .boost-pfs-filter-option-content-inner li,
.row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list li {
  line-height: 32px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: $kr;

  button,
  button span,
  a span,
  span,
  button .boost-pfs-filter-option-value {
    line-height: 32px;
    font-size: 14px;
    font-family: $kr;
  }
}

.row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list .boost-pfs-filter-option-item button, .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list .boost-pfs-filter-option-item a {
// .boost-pfs-filter-option-item a.boost-pfs-filter-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  span {
    line-height: 32px;
    font-size: 14px;
    font-family: $kr;
  }
}

.row .boost-pfs-filter-option.boost-pfs-filter-has-scrollbar .boost-pfs-filter-option-content .boost-pfs-filter-option-content-inner li button .boost-pfs-filter-option-value {
  display: inline-block;
}

.row .boost-pfs-filter-option.boost-pfs-filter-has-scrollbar .boost-pfs-filter-option-content .boost-pfs-filter-option-content-inner li button .boost-pfs-check-box,
.row .boost-pfs-filter-option.boost-pfs-filter-has-scrollbar .boost-pfs-filter-option-content .boost-pfs-filter-option-content-inner li a .boost-pfs-check-box {
  position: relative;
  // top: 3px;
  // display: inline-block;
}

.row .boost-pfs-filter-option.boost-pfs-filter-has-scrollbar .boost-pfs-filter-option-content .boost-pfs-filter-option-content-inner li button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.row .boost-pfs-filter-option.boost-pfs-filter-has-scrollbar .boost-pfs-filter-option-content .boost-pfs-filter-option-content-inner li button .boost-pfs-filter-option-value,
.row .boost-pfs-filter-option.boost-pfs-filter-has-scrollbar .boost-pfs-filter-option-content .boost-pfs-filter-option-content-inner li a .boost-pfs-filter-option-value {
  // margin-left: 6px;
}

.row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list li {
  padding-left: 0;

  button.boost-pfs-filter-button .boost-pfs-filter-option-value {
    margin-left: 12px;
    // margin-left: 0;
  }
}

// .row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list li .boost-pfs-check-box {
//   top: 9px;
// }

.row .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list {
  padding-top: 5px;
  padding-bottom: 27px;
}

button.boost-pfs-filter-clear {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 30px;
  border: none;

  @include transition(400ms all $cubic);
 }

 .row .boost-pfs-filter-tree-v .boost-pfs-filter-option:not(.boost-pfs-filter-option-collapsed) button.boost-pfs-filter-clear {
  opacity: 1;
  pointer-events: all;
 }

.row .boost-pfs-filter-option.boost-pfs-filter-has-scrollbar.boost-pfs-filter-option-size .boost-pfs-filter-option-content .boost-pfs-filter-option-content-inner li button .boost-pfs-filter-option-value {
  margin-left: 0;
  text-transform: uppercase;
}


// .collection-section {
//   padding-bottom: 70%;
//   position: relative;

//   .boost-pfs-container-default.boost-pfs-filter-wrapper-page {
//     position: absolute;
//     content: "";
//     width: 100%;
//     top: 0;
//     left: 0;
//   }
// }


//  .row .boost-pfs-filter-tree-v .boost-pfs-filter-option-collapsed button.boost-pfs-filter-clear {
//   opacity: 0;
//   pointer-events: none;
//  }

 .row .boost-pfs-filter-tree-v .boost-pfs-filter-option .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list-box li {
    min-width: 40px;
    width: 60px !important;
    padding: 0 10px 0 8px;
    margin-bottom: 20px;
 }

 .row .boost-pfs-filter-tree-v .boost-pfs-filter-option-box.boost-pfs-filter-option-size button span {
   width: 100%;
 }

 .row .boost-pfs-filter-tree-v .boost-pfs-filter-option .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list-box {

  li button {
    font-size: 14px;
    line-height: 18px;
    font-family: $kr;
    color: $color-dark;
    width: 40px;
    height: 40px;
    background: $color-white;
    border: 1px solid $color-dark;
    border-radius: 3px;
    position: relative;

    @include transition(400ms all $cubic);

    span {
      @include transition(400ms all $cubic);
    }

    &[aria-checked="true"] {
      color: $color-white;
      background: $color-dark;

      &:hover  .boost-pfs-filter-option-value {
        color: $color-white;
      }
    }

    &:hover {
      color: $color-dark;
      background: $color-dark;

      .boost-pfs-filter-option-value {
        color: $color-white;
      }
    }

    .boost-pfs-check-box {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      display: block;
      opacity: 0;
    }
  }
 }

 .row .boost-pfs-filter-option.boost-pfs-filter-option-color,
 .row .boost-pfs-filter-option.boost-pfs-filter-option-size {
  padding-bottom: 9px;
 }

 .row .boost-pfs-filter-option.boost-pfs-filter-option-size .boost-pfs-filter-option-content-inner ul.boost-pfs-filter-option-item-list {
  padding-bottom: 7px;
 }

 .row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch.circle-grid li .boost-pfs-filter-option-swatch-image+.boost-pfs-filter-button {
   display: block;
 }

 .row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-clothing .boost-pfs-check-box,
 .boost-pfs-filter-option-accessories .boost-pfs-check-box {
   top: 4px;
 }

//  .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list li .boost-pfs-check-box
 .row .boost-pfs-filter-option-clothing .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list li .boost-pfs-check-box {
//  .boost-pfs-filter-option-clothing .boost-pfs-check-box {
   position: relative;
 }

 .row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-clothing .boost-pfs-check-box,
 .boost-pfs-filter-option-accessories .boost-pfs-check-box,
//  .row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-kinrgy-x-brands .boost-pfs-check-box {
 .boost-pfs-filter-option-kinrgy-x-brands .boost-pfs-check-box {
  // top: 4px;
  margin-right: 10px;
  position: relative;
 }

 .row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list:not(.boost-pfs-filter-option-item-list-multiple-list) .boost-pfs-check-box {
  width: 18px;
  height: 18px;
  border: 1px solid $color-dark;
  background: $color-white;
  display: inline-block;
 }

 .row .boost-pfs-filter-option.boost-pfs-filter-option-color ul {
   padding-bottom: 27px;

   @include flexbox();
   @include flex-direction(column);

   li {
    @include flexbox();

    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-family: $kr;
    line-height: 18px;
    position: relative;
   }

   button {
    display: inline-block;
    width: 100px;
    padding-top: 0;

    &.boost-pfs-filter-button {
      display: inline-block;
    }

    &[aria-checked="true"] span.boost-pfs-check-box::before {
      opacity: 1;
    }

    .boost-pfs-check-box {
      margin-right: 44px;
      position: relative;
      top: 3px;
    }
   }
 }
 
 .boost-pfs-filter-wrapper .boost-pfs-filter-left-col .boost-pfs-filter-tree.boost-pfs-filter-tree-mobile-sticky .boost-pfs-filter-option-item.selected .boost-pfs-check-box:before,
 .row .boost-pfs-filter-option.boost-pfs-filter-has-scrollbar .boost-pfs-filter-option-content .boost-pfs-filter-option-content-inner li button[aria-checked="true"] span.boost-pfs-check-box::before {
   opacity: 1;
 }

 .boost-pfs-filter-tree-mobile-sticky .boost-pfs-filter-option-item .boost-pfs-check-box {
   position: relative;
 }

//  .boost-pfs-filter-tree-mobile-sticky .boost-pfs-filter-option-item .boost-pfs-filter-option-label .boost-pfs-check-box:before,
 .boost-pfs-filter-tree-mobile-sticky .boost-pfs-filter-option-item .boost-pfs-check-box:before,
 .row .boost-pfs-filter-option.boost-pfs-filter-option-color ul button .boost-pfs-check-box::before,
 .row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list li.selected .boost-pfs-check-box:before {
    content: '';
    width: 9px;
    height: 6px;
    // border: 2px solid #000;
    border: 2px solid $color-green;
    border-top: none;
    border-right: none;
    background: 0 0;
    -ms-transform: rotate(-50deg);
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 3px;
    left: 3.3px;
    opacity: 0;

    @include transition(400ms all $cubic);
 }

 .row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch .boost-pfs-filter-option-item .boost-pfs-filter-option-swatch-image {
    width: 24px;
    height: 24px;
    box-shadow: none;
    border: 1px solid $color-dark;
    position: absolute;
    left: 34px;
    top: 3px;
 }

 .row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch .boost-pfs-filter-option-item.selected .boost-pfs-filter-option-swatch-image {
   border: 1px solid $color-dark !important;
 }

 .row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch.circle-grid li .boost-pfs-filter-option-swatch-image + .boost-pfs-filter-button {
   display: inline-block !important;
   width: calc(100% - 60px);
   padding-top: 0;
 }

 .row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch.circle-grid li {
   margin-top: 0;
   margin-bottom: 0;
 }

 .row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch .boost-pfs-filter-option-item:hover .boost-pfs-filter-option-swatch-image:before,
 .row .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch .boost-pfs-filter-option-item.selected .boost-pfs-filter-option-swatch-image:before {
   border-color: transparent;
 }

//  .row .has-bc-swap-image .boost-pfs-filter-product-item-image:hover .boost-pfs-filter-product-item-main-image,
//  .row .has-bc-swap-image .boost-pfs-filter-product-item-image:hover .boost-pfs-filter-product-item-main-image {
// .has-bc-swap-image .boost-pfs-filter-product-item-flip-image {
//   visibility: hidden;
//   opacity: 0;
//   display: none;
// }
.boost-pfs-filter-product-item-image:hover,
.boost-pfs-filter-product-item-image,
.row .has-bc-swap-image .boost-pfs-filter-product-item-image,
.row .has-bc-swap-image .boost-pfs-filter-product-item-image:hover {
  .boost-pfs-filter-product-item-flip-image {
    visibility: hidden;
    opacity: 0;
    display: none;
  }

  img.boost-pfs-filter-product-item-main-image {
    visibility: visible !important;
    z-index: 2;
  }
}

// .row .has-bc-swap-image .boost-pfs-filter-product-item-image:hover .boost-pfs-filter-product-item-flip-image {
//   visibility: hidden;
// }

// .row .has-bc-swap-image .boost-pfs-filter-product-item-image:hover .boost-pfs-filter-product-item-main-image,
// .row .has-bc-swap-image .boost-pfs-filter-product-item-image:hover .boost-pfs-filter-product-item-main-image,
// .row .boost-pfs-filter-product-item-image-link img.boost-pfs-filter-product-item-main-image {
//   visibility: visible !important;
//   z-index: 2;
// }
 
@media screen and (max-width: 768px) {
  .full-width-slider .row {
    @include justify-content(center);
  }

  .full-width-slider .slide .row {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    padding-top: 120px;
  }

  .collection-slider .dots,
  .collection-slider .arrows {
    display: none;
    visibility: hidden;
  }
}

@media screen and (min-width: 1025px) {
  body.product .collection-slider,
  body.product-kit .collection-slider,
  body.product-membership .collection-slider,
  .collection-slider {
    .slide,
    .slide .row {
      // max-width: 460px;
      // max-width: 451px;
      max-width: 459px;
    }

    .slide:hover img {
      @include transform(scale(1.1));
    }
  }

  .collection-slider .arrows a {
    &:hover:not(.disabled) {
      svg line {
        @include transform(scaleX(0.25));
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  body.product .collection-slider,
  body.product-kit .collection-slider,
  body.product-membership .collection-slider,
  .collection-slider {
    .copy {
      padding-right: 20px;
    }
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  body.product .collection-slider,
  body.product-kit .collection-slider,
  body.product-membership .collection-slider,
  .collection-slider {
    padding-top: 40px;
    padding-bottom: 0px;

    .slide,
    .slide .row {
      // width: 31vw;
      width: 30.55vw;
    }

    // .dots {
    //   display: none;
    //   visibility: hidden;
    // }

    figure {
      // padding-bottom: 123%;
      padding-bottom: 148%;
    }
  }
}

@media screen and (min-width: 769px) {
  body.product .collection-slider,
  body.product-kit .collection-slider,
  body.product-membership .collection-slider,
  .collection-slider {
    .slider-count {
      display: none;
      visibility: hidden;
    }
  }

  // body.product #product-collection-slider .arrows,
  // body.index .collection-slider .arrows {
  //   margin-left: 40px;
  //   margin-right: 40px;
  // }
}

@media screen and (max-width: 768px) {
  body.product .collection-slider, 
  body.product-kit .collection-slider, 
  body.product-membership .collection-slider, 
  .collection-slider {
    padding-top: 40px;
    padding-bottom: 0px;
  }

  body.product #product-collection-slider .arrows,
  body.product-kit #product-collection-slider .arrows,
  body.product-membership #product-collection-slider .arrows,
  body.index .collection-slider .arrows {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 768px) and (min-width: 577px) {
  body.product .collection-slider,
  body.product-kit .collection-slider,
  body.product-membership .collection-slider,
  .collection-slider {
    // padding-top: 40px;
    // padding-bottom: 0px;

    .slide,
    .slide .row {
      width: 46vw;
    }

    .slider-one {
      overflow: visible;
    }

    // figure {
    //   padding-bottom: 125%;
    // }
  }
}

@media screen and (max-width: 576px) {
  body.product .collection-slider .slider-one,
  body.product-kit .collection-slider .slider-one,
  body.product-membership .collection-slider .slider-one,
  .collection-slider {
    .slide,
    .slide .row {
      // width: 90vw;
      width: 80vw;
    }

    figure {
      // padding-bottom: 127%;
      padding-bottom: 149%;
    }
  }

  body.product .collection-slider .slider-one .slider-one-content,
  body.product-kit .collection-slider .slider-one .slider-one-content,
  body.product-membership .collection-slider .slider-one .slider-one-content,
  .collection-slider .slider-one .slider-one-content,
  body.product .collection-slider .slider-one, 
  body.product-kit .collection-slider .slider-one, 
  body.product-membership .collection-slider .slider-one, 
  .collection-slider .slider-one {
    overflow: visible;
  }
}
