body a {
  text-decoration: none;
}

.button-wrapper {
  @include flexbox();

  &.align-center {
    @include justify-content(center);
  }
}

.regular-button {
  padding: 21px 54px;
  border-radius: 4px;
  min-width: 210px;

  @include inline-flexbox();
  @include justify-content(center);
}

.regular-button,
.regular-button .text {
  font-size: 0.875em;
  line-height: 1.2856em;
  font-family: $kb;
  font-weight: 700;
  color: $color-white;
  text-transform: uppercase;
}

.regular-button.pink {
  background: $color-pink;
}

.regular-button.green {
  background: $color-green;
}