input {
  font-size: 1em;
  color: $color-dark;
  font-family: $kr;
  // line-height: 1.3125em;
  line-height: 41px;
  width: 100%;
  outline: none;

  @include transition(400ms all $cubic);

  &:focus {
    outline: none;
  }
}

input::placeholder,
input::moz-placeholder {
  color: $color-dark;

  @include transition(400ms all $cubic);

  &:focus {
    opacity: 0;
  }
}

.email-and-submit {
  position: relative;
  border-bottom: 1px solid $color-dark;
  padding-bottom: 17px;

  .submit-wrapper {
    width: 35px;
    height: 31px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }

  input[type="email"] {
    border: none;
    width: calc(100% - 45px);
  }

  input {
    line-height: 31px;
  }
}

.submit-wrapper {
  position: relative;

  input[type="submit"] {
    position: absolute;
    width: 100%;
    opacity: 0;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }

  svg {
    pointer-events: none;
    position: absolute;
    display: block;
    margin: auto;
    top: 0;
    bottom: 0;
  }
}

body.product {
  select {
    min-height: 40px;
    line-height: 40px;
    color: $color-dark;
    border-radius: 3px;
    border: 1px solid $color-dark;
    min-width: 74px;
    background: url('https://cdn.shopify.com/s/files/1/0522/1918/3297/files/icon-select-down.svg?v=1608694525') no-repeat center center;
    background-size:  6px 5px;
    background-position: 90% 16px;
    appearance: none;
    -webkit-appearance: none;
    font-size: 14px;
    line-height: 18px;
    padding: 0 15px;
    margin-bottom: 30px;

    &:focus {
      outline: none;
    }
  }
}

footer #footer-form {
  .form-success p,
  .form-success svg {
    @include inline-flex();
  }
  
  .form-success svg {
    width: 45px;
    height: 45px;
    margin-right: 20px;
  }

  .form-success {
    position: relative;
    height: 0;
    overflow: hidden;

    .inner {
      opacity: 0;
      
      @include flexbox();
      @include align-items(center);
    }
  }
}