<section class="container" id="main-cart-section">
  <div class="row">
    <div class="col-md-12">
      <h1 class="f-80">CART</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      
      <div class="row cart-information">
        <div class="col-md-8">
            {% if cart.item_count > 0 %}

          <form data-cart-view="data-cart-view" action="cart/update">
            <div class="items" id="all-cart-items">

              <div rv-each-item="cart.items" class="item" rv-data-product-variant-id="item.variant_id" rv-data-product-key="item.product_id">
              
                <div class="row">
                    <img rv-src="item.image | productImageSize 'medium'" class="image">
                    <div class="row product-text">
                      <div class="titles">
                        <h2 class="name" rv-text="item.product_title"></h2>

                        <p class="price" rv-html="item.final_line_price | money"></p>
                      </div>
                      
                      {% comment %} paywhirl {% endcomment %}
                      {% render 'paywhirl-subscriptions-cart-selling-plans', item: item %}

                      <div class="quantity">
                        <div class="control">
                          <div class="minus">
                            <a class="externe" href="#" rv-data-cart-update="index | plus 1" rv-data-cart-quantity="item.quantity | minus 1">-</a>
                          </div>

                          <div class="qty cart__qty-input">
                            <span rv-html="item.quantity"></span>
                          </div>
                          
                          <div class="plus">
                            <a class="externe" href="#" rv-data-cart-update="index | plus 1" rv-data-cart-quantity="item.quantity | plus 1">+</a>
                          </div>
                      </div> 
                    </div>
                </div>
              </div>
            </div>
            
            <div class="total row">
              <p>Subtotal:</p>
              <p><span class="cart__subtotal" rv-html="cart.total_price | money"></span></p>
            </div>

            <div class="row button-row">
              <a href="{{ routes.root_url }}" class="regular-button no-border">Back to shopping</a>

              <a class="regular-button checkout pink" href="/checkout"><span>TO CHECKOUT</span></a>
            </div>

          </form>

        {% else %}
          
          <p>Your cart is empty</p>

        {% endif %}
        </div>
        </div>
        <div class="row col-4 cart-cta">
          <div class="col-md-12 bg-tan">

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
