<section class="legal-section container" id="legal-section-top">
  <div class="row">
    <div class="col-12">
      {% include 'breadcrumbs' %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3" id="pinSection">
      <ul class="sidebar-menu" data-scroll-id="product-sticky" data-scroll="" data-scroll-sticky="" data-scroll-offset="-95, 95" data-scroll-target="#pinSection" data-scroll-repeat>

          {% for link in linklists.help-sidebar.links %}

              <li>
                <a href="{{ link.url }}" target="_self"
                {% if link.current %} aria-current="page"{% endif %}>
                  {{ link.title }}
                  {% include 'icon-arrow-right-menu' %}
                </a>
              </li>

          {% endfor %}


      </ul>
    </div>
    <div class="col-md-7 offset-md-1 legal-content-col">
      <div class="row heading">
        <div class="col-12">
          <h1 class="f-80">{{ page.title | capitalize }}</h1>
        </div>
      </div>
      <div class="row legal-content">
        {{ page.content }}
      </div>
    </div>
  </div>
</section>