<div class="container first">
  <div class="row">
    <div class="col-md-12">
      <h2>
        <div class="top red">LOOKING FOR </div>
      
        <div class="bottom">ANSWERS?</div>
      </h2>
      
      <p>FIND ANSWERS TO FREQUENTLY ASKED QUESTIONS</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="accordion js-accordion">
        <li>
          <div class="top">
            <span class="number">1.</span><span class="title">I want to purchase a tee shirt or sweatshirt but I don’t know my size? </span><i>{% include 'chevron-arrow-down' %}</i>
          </div>
  
          <div class="bottom">
            Go grab your favorite t-shirt or sweatshirt along with a ruler or tape measure.  Click this link https://youtu.be/JJNMo8eVm9E and follow the instructional video.  Now match your measurements to the measurements we have listed.
          </div>
        </li>
  
        <li>
          <div class="top">
            <span class="number">2.</span><span class="title">What types of payment is accepted?</span><i>{% include 'chevron-arrow-down' %}</i>
          </div>
          
          <div class="bottom">
            We accept all forms of payment.  All major credit cards are accepted.  We also accept check, money order, travlers checks.  These forms of payment can be sent to I Love NYC Souvenirs LLC. Once they are deposited and cleared by the bank your order will be shipped.
          </div>
        </li>
  
        <li>
          <div class="top">
            <span class="number">3.</span><span class="title">Do you charge sales tax?</span><i>{% include 'chevron-arrow-down' %}</i>
          </div>
          
          <div class="bottom">
            Yes, we charge 6.625% sales tax if you purchase within the state of New Jersey, USA.
        </li>
  
        <li>
          <div class="top">
            <span class="number">4.</span><span class="title">How long will it take for my order to be shipped? </span><i>{% include 'chevron-arrow-down' %}</i>
          </div>
          
          <div class="bottom">
            All orders are extremely important to us. All orders will ship on the next business day. If your order will not ship within 1 business day you will be notified immediately. 
        </li>
  
        <li>
          <div class="top">
            <span class="number">5.</span><span class="title">What if my order is out of stock?</span><i>{% include 'chevron-arrow-down' %}</i>
          </div>
          
          <div class="bottom">
            While we make every attempt to carry a large inventory, out of stocks occasionally occur.  You will be notified immediately and given an ETA as to when we expect the item to return. 
        </li>
  
        <li>
          <div class="top">
            <span class="number">6.</span><span class="title">What if I order multiple items and one item is out of stock?</span><i>{% include 'chevron-arrow-down' %}</i>
          </div>
          
          <div class="bottom">
            We will notify you immediately if this occurs.  You will be given the option to ship the items we have in stock and then when the out of stock item returns we will ship the balance.  You may also choose to ship everything at once and you will be given an ETA. 
          </div>
        </li>
  
        <li>
          <div class="top">
            <span class="number">7.</span><span class="title">Which methods are used for shipping?</span><i>{% include 'chevron-arrow-down' %}</i>
          </div>
          
          <div class="bottom">
            We use USPS, UPS, DHL.  You will receive tracking information from us immediately upon shipment. We offer expedited shipping at an additional cost, please contact us if you need this service. Some small items we can ship through regular mail and you will not receive tracking, however you will be notified if your package shipped in this manner. 
          </div>
        </li>
  
        <li>
          <div class="top">
            <span class="number">8.</span><span class="title">What can cause a delay in receiving my order? </span><i>{% include 'chevron-arrow-down' %}</i>
          </div>
          
          <div class="bottom">
            On occasion there are carrier delays which can’t be controlled.  Weather, blackouts, natural disasters are often the cause of these delays. 
          </div>
        </li>
        
        <li>
          <div class="top">
            <span class="number">9.</span><span class="title">Can my order be shipped to a PO Box?</span><i>{% include 'chevron-arrow-down' %}</i>
          </div>
          
          <div class="bottom">
            Yes, we can ship to all addresses PO Box included.  We will ship using USPS to ensure proper on-time delivery. 
          </div>
        </li>
        
        <li>
          <div class="top">
            <span class="number">10.</span><span class="title">Do you ship internationally?</span><i>{% include 'chevron-arrow-down' %}</i>
          </div>
          
          <div class="bottom">
            Yes. We love our international customers. On average shipping internationally cost $23.00 plus per package. As an appreciation to you and your business we charge $17.95 per package. International buyers are responsible for any customs or import taxes that may apply.  We are not responsible for delays due to customs.
          </div>
        </li>
        
        <li>
          <div class="top">
            <span class="number">11.</span><span class="title">What do I do if I don’t receive my order?</span><i>{% include 'chevron-arrow-down' %}</i>
          </div>
          
          <div class="bottom">
            Contact us immediately and get angry with us! We want the order process to be easy and seamless. 
          </div>
        </li>
        
        <li>
          <div class="top">
            <span class="number">12.</span><span class="title">Where are you located?</span><i>{% include 'chevron-arrow-down' %}</i>
          </div>
          
          <div class="bottom">
            We are located in New Jersey about 20 min from New York City.  Our location is optimal as we can easily access merchandise as most of our vendors are located in this area. 
          </div>
        </li>
               
        <li>
          <div class="top">
            <span class="number">13.</span><span class="title">I want to order a particular item but I do not see it available for purchase?</span><i>{% include 'chevron-arrow-down' %}</i>
          </div>
          
          <div class="bottom">
            Please contact us. We will use our special relationship with our vendors to try to get you this item. 
          </div>
        </li>
        
        <li>
          <div class="top">
            <span class="number">14.</span><span class="title">I have an item that I think you might be interested in purchasing for sale on the website?</span><i>{% include 'chevron-arrow-down' %}</i>
          </div>
          
          <div class="bottom">
            Please contact us.  We’d love to hear from you and would be happy to review your product. 
          </div>
        </li>
        
        <li>
          <div class="top">
            <span class="number">15.</span><span class="title">I’d like to order items large quantities of items, is this possible?</span><i>{% include 'chevron-arrow-down' %}</i>
          </div>
          
          <div class="bottom">
            Please contact us.  We have amazing relationships with all of our vendors. We have the ability to do both bulk orders and wholesale orders with almost all of our products. 
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container bottom">
  <div class="row">
    <div class="col-md-12">
      <h2>
        <div class="top red">LET'S</div>
      
        <div class="bottom">GET IN TOUCH</div>
      </h2>

      <p>You didn’t find the answer? <br>
        Tap the button below.</p>

      <a class="button" href="/pages/contact"><span>CONTACT US</span></a>
    </div>
  </div>
</div>