<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
          <div class="top">GET TO</div>
          <div class="bottom">KNOW US</div>
        </h1>

        <p>WE'RE NEW YORK CITY'S PREMIER SOUVENIR SITE. WE HAVE THE BEST PRODUCTS WITH THE BEST PRICES FROM THE BEST CITY ON EARTH!</p>
      </div>
    </div>
  </div>
</section>

<div class="container txt-img">
  <div class="row">
    <div class="col-md-5 offset-md-1 order-2 order-md-1">
      <img src="{{ 'about-1.png' | asset_img_url: 'master' }}" alt="banner image">
    </div>

    <div class="col-md-4 offset-md-1 d-flex flex-column justify-content-center order-1 order-md-2">
      <h2>
        <div class="top red">THE BEST</div>
        <div class="bottom">Merchandise</div>
      </h2>

      <p>All of our merchandise is handpicked by our owner. He has been pounding the pavement of New York City for over a decade experiencing the amazing New York City vibe and identifying first-hand the best selling souvenirs. </p>
    </div>
  </div>
</div>

<div class="container txt-img">
  <div class="row">
    <div class="col-md-4 offset-md-1 d-flex flex-column justify-content-center">
      <h2>
        <div class="top red">THE BEST</div>
        <div class="bottom">KNOWLEDGE</div>
      </h2>

      <p>With years of experience in the souvenir industry. Over this time we’ve learned all aspects of the business. We’ve cultivated amazing relationships with all of our vendors and strive to serve you to the best of our ability. We want to use our knowledge to help you find the perfect souvenirs.  </p>
    </div>

    <div class="col-md-5 offset-md-1">
      <img src="{{ 'about-2.png' | asset_img_url: 'master' }}" alt="banner image">
    </div>
  </div>
</div>

<div class="container quote-wrapper">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <div class="quote">
        The New York City Souvenir website that doesn’t sleep
      </div>
    </div>
  </div>
</div>

<div class="container txt-img">
  <div class="row">
    <div class="col-md-5 offset-md-1 order-2 order-md-1">
      <img src="{{ 'about-3.png' | asset_img_url: 'master' }}" alt="banner image">
    </div>

    <div class="col-md-4 offset-md-1 d-flex flex-column justify-content-center order-1 order-md-2">
      <h2>
        <div class="top red">CUSTOMER</div>
        <div class="bottom">ALWAYS<br> COMES FIRST</div>
      </h2>

      <p>Coming from an extensive sales background, we know that you the customer is our #1 priority. Without you, we cannot exist. We want you to be fully satisfied in all facets of our business and want to exceed all of your expectations in any way possible. </p>
    </div>
  </div>
</div>