<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>
        <div class="top red">RETURNS &</div>
        <div class="bottom">SHIPPING</div>
      </h1>

      <p>LAST UPDATED: NOVEMBER 23, 2020</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 offset-md-1 copy">
      <p>Return and Exchange Policy:<br><br>

While we always hope that you enjoy your purchase we gladly accept exchanges and returns. Please contact us within 14 days of delivery and ship the items back to us within 30 days of delivery.  All returns must be in the original packaging with all tags still intact. A refund will be applied once we receive the merchandise back to us. 

If you receive a damaged item, we apologize in advance. Please contact us within 2 days of delivery so we can rectify the issue immediately.

        Please contact us by phone/message/whatsapp at +1 646-238-8229 or info@lovenycsouvenirs.com and we would be happy to assist you.</p>
      
      <p>
       Shipping:<br><br>
        All Continental US orders will ship FREE of charge. On average shipping times within the Continental US takes anywhere from 2-6 business days.  You will receive tracking immediately upon shipment. Some orders which contain small items can be shipped through regular mail and you will not receive tracking, however you will still be notified that the item shipped.  In some cases, while not often, there will be carrier delays due to severe weather, major holidays, or circumstances out of our control. 
      </p>

      <p>
        All International orders will ship for $17.95.  On average a standard international shipping label costs $23.00 plus per package, as an appreciation for your business we will handle a portion of your shipping cost.  On average International shipping times takes anywhere between 7-21 business days. You will receive tracking immediately upon shipment. International buyers are responsible for any customs or import taxes that might apply. We are not responsible for delays due to customs.
      </p>

      <p>We offer expedited shipping on both domestic and international orders at an additional cost. Please contact us and we will gladly assist should you require this service.</p>
    </div>
  </div>
</div>