.main-header .extra-menu__cart #cartCount,
.main-header .extra-menu__cart {
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
}

.main-header .extra-menu__cart {
  .cart-count,
  #cartCount {
    position: absolute;
    font-size: 12px;
    font-family: $kb;
    top: -5px;
    right: -2px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    color: $color-white;
    background: $color-green;
    text-align: center;
    z-index: 2;

    @include transition(400ms all $cubic);

    &.empty {
      opacity: 0;
    }
  }
}

.cart-dd {
  z-index: 10;
  position: fixed;
  top: 0;
  pointer-events: none;
  
  &.active {
    pointer-events: all;
  }

  &.safari-adjust .cart-row {
    padding-bottom: 40px;
  }
  
  .item {
    @include flexbox;

    .copy {
      @include flexbox;
      @include flex-direction(column);

      flex: auto;
      padding-left: 15px;

      .cart__qty-input {
        @include flexbox;
        @include align-items(center);
        @include justify-content(space-between);

        color: $color-gray-4;
        font-size: 12px;
        margin-top: auto;
      }
    }
  }

  .empty_cart {
    padding: 70px 0;
    text-align: center;
  
    p {
      margin: 50px 0 0;
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

body.cart {
  .extra-menu li:last-of-type,
  .extra-menu__cart {
    display: none !important;
  }

  .btns {
    @include align-items(center);

    padding: 2rem 0;

    @include media-breakpoint-down(sm) {
      padding: 2rem 20px;
    }
  }
}