footer h3 {
  font-size: 1.875em;
  line-height: 1.1666667em;
  font-family: $gtsr;
  margin-bottom: 25px;
}

footer #footer-form input {
  background: transparent;
}

footer {
  padding-top: 60px;

  .container {
    padding-top: 55px;
  }

  .menu-plain {
    margin-bottom: 30px;
  }

  .subfooter-list {
    padding-top: 44px;
    padding-bottom: 72px;

    @include flexbox();
    @include justify-content(space-between);

    a {
      font-size: 14px;
      position: relative;
    }
  }
}

.hbspt-form {
  overflow: hidden;
  height: 0;
  position: relative;
  // display: none;
  // visibility: hidden;
}


body.page-faq footer,
body.page-legal footer,
body.collection footer,
body.search footer,
body.product-kit footer,
body.product footer {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    display: block;
    top: 60px;
    left: 0;
    right: 0;
    margin: auto;
    height: 1px;
    width: 100%;
    // max-width: calc(1360px - 80px);
    max-width: calc(100% - 80px);
    background: rgba($color-dark, 0.15);
  }
}

// body.index .cta.membership {
body.index #shopify-section-membership-cta {
  position: relative;
  z-index: 2;

  .row {
    position: relative;
    z-index: 2;
  }

  &::before {
    background: $color-tan;
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    // top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}

body.index footer {
  position: relative;
  // overflow: hidden;
  background: $color-tan;

  .row {
    z-index: 2;
    position: relative;
  }
}

@media screen and (min-width: 1025px) {
  .subfooter-list li:last-of-type {
    padding-right: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .form-col {
    order: 4;
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  body.page-faq footer::before, 
  body.page-legal footer::before, 
  body.collection footer::before, 
  body.search footer::before, 
  body.product-kit footer::before, 
  body.product footer::before {
    max-width: 100%;
  }

  body.index footer .container {
    padding-top: 0;
  }
}

@media screen and (max-width: 576px) {
  footer {
    margin-top: 30px;
  }

  footer .subfooter-list {
    padding-bottom: 30px;

    @include flex-direction(column);

    li {
      margin-bottom: 10px;
    }
  }

  footer {
    margin-top: 0px;
  }

  footer .container {
    padding-top: 30px;
  }

  body.page-faq footer::before, 
  body.page-legal footer::before, 
  body.collection footer::before, 
  body.search footer::before, 
  body.product footer::before {
    top: 40px;
  }
}