footer h3 {
  font-size: 1.875em;
  line-height: 1.1666667em;
  font-family: $gtsr;
  margin-bottom: 25px;
}

footer {
  margin-top: 60px;

  .container {
    padding-top: 55px;
  }

  .menu-plain {
    margin-bottom: 30px;
  }

  .subfooter-list {
    padding-top: 44px;
    padding-bottom: 72px;

    @include flexbox();
    @include justify-content(space-between);

    a {
      font-size: 14px;
    }
  }
}

.hbspt-form {
  overflow: hidden;
  height: 2px;
  margin-top: 1px;
  border-top: 1px solid $color-dark;
  display: none;
  visibility: hidden;
}

body.page-faq footer,
body.page-legal footer,
body.collection footer,
body.search footer,
body.product footer {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 1px;
    width: 100%;
    max-width: 1360px;
    background: rgba($color-dark, 0.15);
  }

}

@media screen and (min-width: 1025px) {
  .subfooter-list li:last-of-type {
    padding-right: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .form-col {
    order: 4;
    margin-top: 30px;
  }
}

@media screen and (max-width: 576px) {
  footer {
    margin-top: 30px;
  }
}