body.index .main-header .site-nav a {
  color: $color-white;
}
body.index .logo-main svg path {
  fill: $color-white;

  @include transition(400ms all $cubic);
}

body.index {
  .main-header .site-nav button span {
    color: $color-white;
  }

  .main-header a.site-nav__link--main::before {
    background: $color-white;
  }

  #shopify-section-header.sticked {
    .main-header a.site-nav__link--main::before {
      background: $color-dark;
    }

    .site-nav button span {
      color: $color-dark;
    }
  }
}

.full-width-slider {
  height: 100vh;
  background: $color-dark;
}

.main-header .site-nav {
  position: relative;

  .site-nav--active {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 29px;
      height: 29px;
      top: 0;
      left: 0;
      right: 0;
      display: block;
      margin-left: auto; 
      margin-right: auto; 
      background: url('https://cdn.shopify.com/s/files/1/0522/1918/3297/files/icon-current-page.svg?v=1608845179') no-repeat center center;
      background-size: contain;
      transform-origin: center;

      @include transition(400ms all $cubic);
      @include transform(scale(1) translate(0, -35px));
    }
  }
}

.sticked .main-header .site-nav .site-nav--active::before {
  @include transform(scale(0.66) translate(0, -38px));
}

.main-header .site-nav a,
.main-header .site-nav button,
.main-header .site-nav button span {
  color: $color-dark;

  @include transition(400ms all $cubic);
}

.main-header .site-nav a,
.main-header .site-nav button,
.main-header .site-nav span {
  font-size: 0.875em;
  line-height: 1.286em;
  font-family: $kb;
  font-weight: normal;
  text-transform: uppercase;
}

.main-header .extra-menu {
  margin-left: 40px;

  @include flexbox();

  &.mobile {
    @include justify-content(flex-end);
  }

  li,
  a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;

    @include inline-flexbox();
  }

  li:first-of-type {
    margin-right: 10px;
  }

  a {
    position: relative;

    @include transition(400ms all $cubic);
    @include justify-content(center);
    @include align-items(center);

    svg {
      z-index: 2;
    }

    &::before {
      background: $color-gray;
      transform-origin: center;
      width: 100%;
      position: absolute;
      content: "";
      height: 100%;
      border-radius: 50%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      
      @include transition(400ms all $cubic);
    }

    // &:hover::before {
    //   @include transform(scale(1.1));
    // }
  }

  svg {
    pointer-events: none;
  }

  svg path {
    fill: $color-dark;
  }
}

// .main-header ul.site-nav {
//   width: calc(100% - 50px);
// }

.main-header .site-nav--has-dropdown {
  position: relative;

  button.site-nav__link {
    pointer-events: none;
  }

  &.active-hover .site-nav__dropdown {
    opacity: 1;
    pointer-events: all;

    ul {
      transform: translate(0, 33px);
    }
  }
}

.main-header button.site-nav__link {
  background: none;
  color: $color-white;
  border: none;
  line-height: 50px;
}

.main-header .site-nav__dropdown {
  position: absolute;
  width: 280%;
  max-width: 447px;
  transform: translate(-61%, 10px);
  pointer-events: none;
  opacity: 0;
  top: 20px;

  @include transition(200ms all $cubic);

  ul {
    transform: translate(0, 25px);
    background: $color-white;
    color: $color-dark;
    padding: 21px 30px;
    width: 140%;
    position: relative;
    max-width: 447px;
    box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.1);

    @include transition(200ms all $cubic);
    @include flexbox();
    @include justify-content(flex-start);
    @include align-items(flex-start);
    @include flex-direction(column);

    &::before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 12px solid $color-white;
      top: -12px;
      left: 0;
      right: 0;
      display: block;
      margin: auto;

      @include transform(translate(220%, 0px));
    }
  }

  a i {
    width: 60px;
    min-height: 30px;
    display: inline-block;
    margin-right: 34px;

    @include flexbox();
    @include align-items(center);
  }
}

#shopify-section-header.sticked {
  box-shadow: 0 1px 0 0 rgba(127, 106, 106, 0.15);
  background: $color-white;
  
  @include transform(translateY(-23px));

  .logo-main svg path {
    fill: $color-dark;
  }

  .site-nav a,
  .site-nav button {
    color: $color-dark;
  }

  .cart-dd {
    @include transform(translate(0, 23px));
  }
}

#shopify-section-header {
  .main-header .site-nav__dropdown {
    a {
      font-size: 1.25em;
      line-height: 1.2em;
      min-height: 78px;
      color: $color-dark;
    }

    li,
    a {
      width: 100%;

      @include flexbox();
      @include justify-content(flex-start);
      @include align-items(center);
    }

    li {
      line-height: 78px;
      padding-left: 0;
      padding-right: 0;
      border-top: 1px solid rgba($color-dark, 0.15);

      &:first-of-type {
        border-top: 1px solid rgba($color-dark, 0);
      }
    }
  }

  .mobile-nav-buttons {
    width: 74.6666%;
    max-width: 74.6666%;
    flex: 1 0 74.6666%;
  }
}

.main-header.container-fluid {
  padding-left: 0;
  padding-right: 0;

  > .row {
    margin-left: 0;
    margin-right: 0;
  }
}

#shopify-section-header {
  @include flexbox;
  @include align-items(center);
  @include transition(all 0.4s $cubic);

  border-bottom: 1px solid transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // height: 100px;
  z-index: 5;
  padding-top: 33px;
  padding-bottom: 10px;

  // @include media-breakpoint-down(md) {
  //   height: 80px;
  // }

  .logo-w {
    @include flexbox;
    @include align-items(center);

    // svg {
      // width: 120px;

      // @include media-breakpoint-down(md) {
      //   width: 80px;
      // }
    // }
  }

  .logo-main {
    @include transition(all 0.4s $cubic);
    
    font-family: hk;
    font-size: 15px;
    font-weight: 800;
    z-index: 4;

    .st0,
    .st1 {
      @include transition(all 0.4s $cubic);
    }
  }

  .d-flex {
    @include justify-content(flex-end);
    @include align-items(center);

    @include media-breakpoint-down(sm) {
      white-space: nowrap;
    }
  }

  .site-nav {
    // margin-right: -30px;
    li {
      display: inline-block;
      // padding: 0 17.5px;
      margin: 0 17.5px;

      &:last-of-type {
        padding-right: 0;
      }

      @include media-breakpoint-down(md) {
        display: block;
        padding: 18px 5px;
      }

      a {
        @include transition(all 0.3s ease);
        
        font-family: neue;
        font-size: 14px;
        text-transform: uppercase;

        @include media-breakpoint-down(md) {
          font-size: 18px;
        }

        // &:hover {
        //   color: $color-orange;
        // }
      }
    }
  }

  .extra-menu {
    // position: relative;

    // li {
      // display: inline-block;
      // padding: 0 4px;

      // a {
      //   @include flexbox;
      //   @include justify-content(center);
      //   @include align-items(center);

      //   border: 1px solid $color-gray-2;
      //   border-radius: 50%;
      //   position: relative;
      //   width: 55px;
      //   height: 55px;

      //   @include media-breakpoint-down(md) {
      //     width: 42px;
      //     height: 42px;

      //     svg {
      //       width: 18px;
      //     }
      //   }
    
        // #cartCount {
          // font-size: 12px;
          // position: absolute;
          // top: 5px;
          // right: 9px;

          // @include media-breakpoint-down(md) {
            // top: 1px;
            // right: 7px;
          // }
        // }

        .search-bar {
          @include transition(all 0.5s ease);

          position: fixed;
          top: 21px;
          right: -100%;
          width: 330px;
          height: 57px;
          z-index: 5;

          input[type=text] {
            background-color: white;
            border: 1px solid $color-gray-2;
            border-radius: 0;
            outline: none;
            padding: 0 80px 0 15px;
            width: 100%;
            height: 57px
          }

          .search-bar__submit {
            background-color: transparent;
            border: 0;
            border-radius: 0;
            cursor: pointer;
            outline: none;
            position: absolute;
            top: 0;
            right: 0;
            width: 55px;
            height: 57px;
          }
        }

        &.js_search.active {
          #SearchDrawer {
            right: 20px;
          }
        }
      // }
    // }
  }

  // &.sticked {
  //   background-color: white;
  //   border-bottom: 1px solid $color-gray-2;
  // }
}

.hamburger {
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  @include transition(all 0.4s $cubic);

  border-radius: 50%;
  position: relative;
	// width: 42px;
	// height: 42px;
	z-index: 4;

    .line {
      @include transition(all 0.4s $cubic);

      background-color: $color-dark;
      z-index: 1;
      display: block;
      // margin: 2px 0;
      width: 20px;
      height: 2px;
      transform-origin: center;
    }
    
    .line:first-of-type {
      @include transform(translate(0, -3px))
    }

    .line:last-of-type {
      @include transform(translate(0, 3px))
    }
  }

.announcement-bar {
  @include transition(all 0.4s $cubic);

  background: $color-blue;
  color: white;
  opacity: 0;
  padding: 15px 30px;
  visibility: hidden;
  text-align: center;
  z-index: 13;
  position: relative;

  p {
    margin-bottom: 0;
  }

  .close-announcement-bar {
    color: white;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    right: 30px;

    path {
      fill: white;
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

// Mobile Nav
// #shopify-section-mobile-nav {
#mobile-nav {
  z-index: 7;
  background: $color-white;

  .content-col-wrapper {
    height: 100vh;
    padding-top: 120px;
  }

  .row {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .menu-plain,
  .search-drawer-inline {
    padding-left: 40px;
    padding-right: 40px;
  }

  .search-drawer-inline {
    .search-row {
      padding-top: 0;
      padding-bottom: 50px;
    }

    .search-bar__submit {
      padding: 0 0 0 6px;
    }

    .search-bar__interior {
      max-width: 100%;
    }

    .search-row .search-form__input-wrapper {
      border-bottom: 2px solid $color-dark;
    }
  }

  .mobile-navigation {
    padding-left: 40px;
    padding-right: 40px;

    @include flexbox();
    @include align-items(flex-start);
    @include justify-content(flex-start); 
    @include flex-direction(column);

    .mobile-nav-search,
    button,
    a,
    a span {
      font-family: $kb;
      font-size: 24px;
      font-weight: 700;
      // line-height: 1.55em;
      line-height: 48px;
      color: $color-dark;
      text-transform: uppercase;
    }

    li {
      width: 100%;

      @include flexbox();
      @include justify-content(flex-start); 
      @include flex-direction(column);
    }

    button {
      appearance: none;
      -webkit-appearance: none;
      background: transparent;
      border: none;
      box-shadow: none;
      padding-left: 0;
      padding-right: 0;

      &:focus {
        outline: none;
      }

      svg {
        transform-origin: center;

        @include transition(400ms all $cubic);

        polygon {
          // transform-origin: left;
          transform-origin: center;

          @include transition(400ms all $cubic);
        }
      }

      &.active svg {
        @include transform(rotate(270deg));

        polygon:last-of-type {
          @include transform(scaleX(0) rotate(270deg));
        }
      }
    }

    li.site-nav--active {
      a,
      a span {
        color: $color-green;
      }
    }

    .row {
      padding-left: 40px;
      padding-right: 30px;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .mobile-nav-search svg path {
    fill: $color-green;
  }

  .shopify-section.sticked #mobile-nav {
    @include transform(translateY(15px));
  }

  .site-nav--has-dropdown button {
    width: 100%;
    text-align: left;
  }

  .site-nav__dropdown ul {
    padding: 10px 0 20px;

    @include flexbox();
    @include align-items(flex-start);
    @include justify-content(flex-start);
    @include flex-direction(column);

    a {
      @include flexbox();
      @include align-items(center);
      @include justify-content(flex-start);

      span {
        padding: 16px 0 16px 25px;
      }
    }

    i {
      width: 50px;

      @include flexbox();
      @include align-items(center);
      @include justify-content(center);

      img {
        display: inline-block;
        width: initial;
      }
    }

    a,
    a span {
      font-size: 16px;
      line-height: 20px;
    }

    li {
      opacity: 0;
      width: 100%;
      border-bottom: 1px solid rgba($color-dark, 0.15);
    }
  }

  .site-nav__link span {
    pointer-events: none;
  }

  .site-nav__dropdown {
    overflow: hidden;
    height: 0;
    position: relative;
  }

  svg {
    width: 20px;
    height: 20px;
    pointer-events: none;
    z-index: 2;
    margin-left: 8px;
    position: relative;
    top: -1px;
  }
    

  .button-wrapper,
  .regular-button {
    width: 100%;
  }

  .regular-button {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);

    .text {
      color: $color-white;
      font-size: 18px;
    }

    svg {
      margin-left: 10px;
      path {
        fill: $color-white;
      }
    }
  }

  .button-wrapper {
    margin-top: 30px;
  }

  .menu-plain {
    padding-top: 50px;

    @include flexbox();

    li {
      position: relative;

      &::after {
        position: relative;
        content: "/";
        font-size: 14px;
        line-height: 21px;
        font-family: $kr;
        color: $color-dark;
        padding: 0 8px;
      }

      &:last-of-type::after {
        content: "";
      }
    }
  }
}

.boost-pfs-search-suggestion-mobile-top-panel {
  display: none !important;
  visibility: hidden !important;
  pointer-events: none;
}

#shopify-section-header.open-mobile-nav .main-header {
  .logo-main svg path {
    fill: $color-dark;
  }
}

#shopify-section-header .main-header {
  z-index: 8;
  position: relative;

  .hamburger.active .line {
    &:nth-child(2) {
      // opacity: 0;
      @include transform(scaleX(0))
    }

    &:nth-child(1) {
      @include transform(rotate(45deg) translate(1px, 1px));
    }

    &:nth-child(3) {
      @include transform(rotate(-45deg) translate(1px, -1px));
    }
  }
}

@media screen and (min-width: 1101px) {
  .mobile-nav-buttons {
    display: none;
    visibility: hidden;
  }
}

@media screen and (max-width: 1100px) {
  .main-header .desktop-nav {
    display: none !important;
    visibility: hidden;
  }
}

@media screen and (min-width: 1025px) {
  .main-header .site-nav a.site-nav__link--main {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background: $color-dark;
      left: 0;
      bottom: 0;
      transform-origin: left;

      @include transition(400ms all $cubic);
      @include transform(scaleX(0));
    }

    &:hover::before {
      @include transform(scaleX(1));
    }
  }

  .site-nav__child-link::before {
    background: transparent;
  }

  .main-header .extra-menu a:hover::before {
    @include transform(scale(1.1));
  }
}

@media screen and (max-width: 1024px) {
  #shopify-section-header .container-fluid {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  #shopify-section-header .logo-main,
  #shopify-section-header .logo-main svg {
    width: 100%;
    min-width: 150px;
    max-width: 200px;
  }

  #shopify-section-header .mobile-nav-buttons,
  .logo-w {
    width: 50%;
    max-width: 50%;
    flex: 0 0 50%;
  }

  #shopify-section-header {
    padding-left: 20px;
    padding-right: 20px;
  }

  #mobile-nav {
    .menu-plain,
    .search-drawer-inline,
    .mobile-navigation {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

@media screen and (max-width: 576px) {
  #shopify-section-header {
    padding-left: 20px;
    padding-right: 20px;
  }
}